// --------------------------------------------------
// Animations
// --------------------------------------------------

//
// Fade
//

.fade {

	opacity: 0;
	transition: $transition-fade;

	&.in {
		opacity: 1;
	}
}
