// --------------------------------------------------
// Breadcrumbs
// --------------------------------------------------

.fs-breadcrumbs {

	font-size: $font-size-breadcrumbs;
	@include list-unstyled;

	li {
		display: inline-block;
	}
	> li + li:before {
		content: "/\00a0";
    	padding: 0 5px;
	}
	> li + li:before,
	a:not(:hover) {
		color: $clr-text-lighten;
	}
	li.active span {
		color: $clr-text-darken;
	}
	&.has-bg {
		padding: $padding-breadcrumbs;
	}
	&.text-light {
		> li + li:before,
		a:not(:hover) {
			color: $clr-text-inv-lighten;
		}
		a {
			border: none;
		}
		li.active span {
			color: $clr-text-inv-darken;
		}
	}
	&.text-dark {
		> li + li:before,
		a:not(:hover) {
			color: $clr-text-lighten;
		}
		a {
			border: none;
		}
		li.active span {
			color: $clr-text-darken;
		}
	}
}
