/* =Dividers
----------------------------------------------- */

hr {
	background-color: rgba($clr-bg-hr, 0.1);
    border: 0;
    height: 1px;
    margin: (round( $font-size-base * $font-lh-base ) ) 0;
}

// @TODO
