
// Grids
// --------------------------------------------------

//
// Row
//

.row {

	@include make-row;

	&:last-child {
		margin-bottom: 0;
	}
}
.row-flush-start {
	@if $direction == 'rtl' {
		margin-right: 0;
	} @else {
		margin-left: 0;
	}
}
.row-flush-end {
	@if $direction == 'rtl' {
		margin-left: 0;
	} @else {
		margin-right: 0;
	}
}

//
// Individual Columns
//

.col {

	margin-bottom: $margin-column;

	&:last-child {
		margin-bottom: 0;
	}
}

//
// 12-Column
//

@include make-grid-columns(12);

@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			@include make-grid(12, $breakpoint);
		}
	}
}

//
// 10-Column
//

@include make-grid-columns(10);

@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			@include make-grid(10, $breakpoint);
		}
	}
}

//
// Columns w/Backgrounds
//

.col.has-bg {
	padding: $grid-gutters;
}

@include make-flush-columns(12, start);

@include make-flush-columns(10, start);

@include make-flush-columns(12, end);

@include make-flush-columns(10, end);

//
// Equal-Height Columns
//

@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include make-equal-height-grid($breakpoint);
	}
}
