// --------------------------------------------------
// Inline Labels
// --------------------------------------------------

.label-inline {
	background: $clr-bg-label;
	border-radius: 2px;
	color: $clr-text-inv-base;
	display: inline-block;
	font-size: $font-size-label;
	font-weight: $font-weight-bold;
	line-height: 1;
	padding: $padding-label;
	text-align: center;
	text-transform: $font-transform-label;
	white-space: nowrap;
	vertical-align: baseline;
}
