// ==========================================================================
// Vendor Prefixes
// ==========================================================================

//
// Box sizing
//

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

//
// Box Shadow
//

@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	-moz-box-shadow: $val;
	box-shadow: $val;
}

//
// Border Radius
//

@mixin border-radius($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	-ms-border-radius: $val;
	border-radius: $val;
}

//
// Transform
//

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	transform: $val;
}

//
// Transition
//

@mixin transition($val) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	transform: $val;
}

//
// User select
// For selecting text on the page.
//

@mixin user-select($val) {
	-webkit-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val; // IE10+
	user-select: $val;
}

// ==========================================================================
// Browser Hacks & Fixes
// ==========================================================================

//
// WebKit-style focus
//

@mixin tab-focus() {
	// WebKit-specific. Other browsers will keep their default outline style.
	// (Initially tried to also force default via `outline: initial`,
	// but that seems to erroneously remove the outline in Firefox altogether.)
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// ==========================================================================
// Breakpoints
// ==========================================================================

//
// Max-Width Media Query
//

@mixin max-width($size) {
	@if $size == 'xl' {
		@media (max-width: em($breakpoint-xl - 1)) {
			@content;
		}
	}
	@else if $size == 'lg' {
		@media (max-width: em($breakpoint-lg - 1)) {
			@content;
		}
	}
	@else if $size == 'md' {
		@media (max-width: em($breakpoint-md - 1)) {
			@content;
		}
	}
	@else if $size == 'sm' {
		@media (max-width: em($breakpoint-sm - 1)) {
			@content;
		}
	}
	@else if $size == 'xs' {
		@media (max-width: em($breakpoint-xs - 1)) {
			@content;
		}
	}
	@else {
		@media (max-width: em($size)) {
			@content;
		}
	}
}

//
// Min-Width Media Query
//

@mixin min-width($size) {
	@if $size == 'xl' {
		@media (min-width: em($breakpoint-xl)) {
			@content;
		}
	}
	@else if $size == 'lg' {
		@media (min-width: em($breakpoint-lg)) {
			@content;
		}
	}
	@else if $size == 'md' {
		@media (min-width: em($breakpoint-md)) {
			@content;
		}
	}
	@else if $size == 'sm' {
		@media (min-width: em($breakpoint-sm)) {
			@content;
		}
	}
	@else if $size == 'xs' {
		@media (min-width: em($breakpoint-xs)) {
			@content;
		}
	}
	@else {
		@media (min-width: em($size)) {
			@content;
		}
	}
}

// ==========================================================================
// Grid
// ==========================================================================

//
// Rows
//

@mixin make-row($gutter: $grid-gutters) {
	margin-left:  ceil(($gutter / -2));
	margin-right: floor(($gutter / -2));
	@include clearfix;
}

//
// Rows w/Equal Height Columns
//

@mixin make-equal-height-grid($breakpoint) {
	@include min-width($breakpoint) {
		.container-#{$breakpoint}-height {
		    display: table;
		    padding-left: 0;
		    padding-right: 0;
		    width: 100%;
		}
		.row-#{$breakpoint}-height {
		    display: table-row;
		}
		.col-#{$breakpoint}-height {
		    display: table-cell;
		    float: none;
		}
	}
}

//
// All columns, all viewports
//

@mixin make-grid-columns($columns, $i: 1, $list: "") {
	@for $i from 1 through $columns {

		$num: "#{$i}";

		@if $columns == 10 {
			$num: "0#{$i}0";
		}

		$list: "#{$list}, .col-xs-#{$num}, .col-sm-#{$num}, .col-md-#{$num}, .col-lg-#{$num}";

	}
	#{$list} {
		position: relative;
		min-height: 1px; // Prevent columns from collapsing when empty
		padding-left: ceil(($grid-gutters / 2));
		padding-right: floor(($grid-gutters / 2));
	}
}

//
// Column class floating
//

@mixin float-grid-columns($columns, $class, $i: 1, $list: "") {

	@for $i from 1 through $columns {

		$num: "#{$i}";

		@if $columns == 10 {
			$num: "0#{$i}0";
		}

		$list: "#{$list}, .col-#{$class}-#{$num}";

	}
	#{$list} {
		float: left;
	}
}

//
// Determine individual column properties
//

@mixin calc-grid-column($columns, $index, $num, $class, $type) {
	@if ($type == width) and ($index > 0) {
		.col-#{$class}-#{$num} {
			width: percentage(($index / $columns));
		}
	}
	@if ($type == push) and ($index > 0) {
		.col-#{$class}-push-#{$num} {
			left: percentage(($index / $columns));
		}
	}
	@if ($type == push) and ($index == 0) {
		.col-#{$class}-push-0 {
			left: auto;
		}
	}
	@if ($type == pull) and ($index > 0) {
		.col-#{$class}-pull-#{$num} {
			right: percentage(($index / $columns));
		}
	}
	@if ($type == pull) and ($index == 0) {
		.col-#{$class}-pull-0 {
			right: auto;
		}
	}
}

//
// Column properties
//

@mixin loop-grid-columns($columns, $class, $type) {
	@for $i from 0 through $columns {

		$num: "#{$i}";

		@if $columns == 10 {
			$num: "0#{$i}0";
		}

		@include calc-grid-column($columns, $i, $num, $class, $type);

	}
}

//
// Column classes for specific viewports
//

@mixin make-grid($columns, $class) {
	@include float-grid-columns($columns, $class);
	@include loop-grid-columns($columns, $class, width);
	@include loop-grid-columns($columns, $class, pull);
	@include loop-grid-columns($columns, $class, push);
}

//
// Flush columns
//

@mixin make-flush-columns($columns, $type) {
	@each $breakpoint in $breakpoints {
		@if $breakpoint != xl { // skip xl

			$has-bg: "";
			$non-bg: "";

			@for $i from 1 through $columns {

				$num: "#{$i}";

				@if $columns == 10 {
					$num: "0#{$i}0";
				}

				@if $type == start {
					$has-bg: "#{$has-bg}, .row-flush-start:not(.row-flush-end) .col-#{$breakpoint}-#{$num}.has-bg";
					$non-bg: "#{$non-bg}, .row-flush-start:not(.row-flush-end) .col-#{$breakpoint}-#{$num}:not(.has-bg)";
				} @else  {
					$has-bg: "#{$has-bg}, .row-flush-end:not(.row-flush-start) .col-#{$breakpoint}-#{$num}.has-bg";
					$non-bg: "#{$non-bg}, .row-flush-end:not(.row-flush-start) .col-#{$breakpoint}-#{$num}:not(.has-bg)";
				}

			}

			@include max-width($breakpoint) {

				#{$has-bg} {
					@if $type == start {
						margin-right: $grid-gutters / 2;
					} @else {
						margin-left: $grid-gutters / 2;
					}
				}
				#{$non-bg} {
					@if $type == start {
						padding-left: 0;
					} @else {
						padding-right: 0;
					}
				}

			}

		}
	}
}

// ==========================================================================
// Typography
// ==========================================================================

//
// Colorless links, meant to blend into content.
// Used with footer links.
//

@mixin blend-links() {
	a {
		color: inherit;
		border-bottom: 1px solid rgba($clr-text-inv-base, 0.8);
		padding-bottom: 1px;
		text-decoration: none;

		&:hover,
		&:focus {
			border-color: $clr-text-inv-base;
			color: $clr-text-inv-base;
		}
	}
}

// ==========================================================================
// Spacing
// ==========================================================================


//
// Elements vertically spaced within a document should
// sit flush against the top and bottom of their
// outter containers.
//

@mixin margin-vert-flush {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// ==========================================================================
// Lists
// ==========================================================================

//
// Unstyled Lists
//

@mixin list-unstyled() {
	list-style: none;
	padding-left: 0;
}

// ==========================================================================
// Colors
// ==========================================================================

//
// Text
//

@mixin text-emphasis-variant($parent, $color) {
	#{$parent} {
		color: $color;
	}
	a#{$parent}:hover,
	a#{$parent}:focus {
		color: darken($color, 10%);
	}
}

//
// Backgrounds
//

@mixin bg-variant($parent, $color, $text: null) {
	#{$parent} {
		background-color: $color;
		@if $parent == info or $parent == success or $parent == warning or $parent == danger {
			border-color: darken(adjust-hue($color, -10), 50%);
		} @else {
			border-color: darken($color, 15%);
		}
		@if $text != null {
			color: $text;
		}
	}
	@if $text != null and $text != $clr-text-base {
		#{$parent} h1,
		#{$parent} h2,
		#{$parent} h3,
		#{$parent} h4,
		#{$parent} h5,
		#{$parent} h6 {
			color: $text;
		}
	}
}

//
// Buttons
//

@mixin button-variant($color, $text, $bg, $bg-hover: null) {
	.btn.btn-#{$color},
	.button.btn-#{$color},
	button.btn-#{$color},
	input[type="submit"].btn-#{$color},
	input[type="reset"].btn-#{$color},
	input[type="button"].btn-#{$color},
	.fancy-select.btn-#{$color} {

		background-color: $bg;
		color: $text;

		&:hover,
		&:focus,
		&.focus {
			@if $bg-hover != null {
				background-color: $bg-hover;
			} @else {
				background-color: darken($bg, 10%);
			}
		}

		&:active,
		&.active {
			@if $bg-hover != null {
				background-color: darken($bg-hover, 5%);
			} @else {
				background-color: darken($bg, 15%);
			}
		}
	}
	.btn.btn-#{$color}.btn-trans,
	.button.btn-#{$color}.btn-trans,
	button.btn-#{$color}.btn-trans,
	input[type="submit"].btn-#{$color}.btn-trans,
	input[type="reset"].btn-#{$color}.btn-trans,
	input[type="button"].btn-#{$color}.btn-trans,
	.fancy-select.btn-#{$color}.btn-trans {

		background-color: transparent;
		border-color: $bg;

		@if $color == white {
			color: $bg;
		} @elseif $text != #fff or $color == info or $color == success or $color == warning or $color == danger {
			color: $text;
		} @else {
			color: $bg;
		}

		&:hover,
		&:focus,
		&.focus {
			background-color: $bg;
			color: $text;
		}
	}
}

// ==========================================================================
// Utilities
// ==========================================================================

// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

//
// Center-align block-level element.
//

@mixin aligncenter() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//
// Floats
//

@mixin alignleft() {
	float: left !important; // @noflip
	margin: 5px 20px 20px 0; // @noflip
}

@mixin alignright() {
	float: right !important; // @noflip
	margin: 5px 0 20px 20px; // @noflip
}

//
// Hide Text
//

@mixin hide-text() {
	text-indent: -9999px;
}

//
// Hide Element
//

@mixin hide($parent) {
	#{$parent} {
		display: none !important;
	}
}

//
// Show Element
//

@mixin show($parent) {
	#{$parent} {
		display: block !important;
	}
}

// Visible Element
//

@mixin visible($parent) {
	#{$parent} {
		visibility: visible;
	}
}

// Invisible Element
//

@mixin invisible($parent) {
	#{$parent} {
		visibility: hidden;
	}
}

// ==========================================================================
// Tables
// ==========================================================================

// Table Row Backgrounds
//

@mixin table-row-variant($state, $background) {
	// Exact selectors below required to override `.table-striped` and prevent
	// inheritance to nested tables.
	.table-#{$state} {
		&,
		> th,
		> td {
			background-color: $background;
		}
	}

	// Hover states for `.table-hover`
	// Note: this is not available for cells or rows within `thead` or `tfoot`.
	.table-hover {
		$hover-background: darken($background, 5%);

		.table-#{$state} {
			&:hover {
				background-color: $hover-background;

				> td,
				> th {
					background-color: $hover-background;
				}
			}
		}
	}
}

// ==========================================================================
// Navigation
// ==========================================================================

@mixin dropdown {
	ul {
		@include box-shadow( 0 2px 5px rgba($clr-black, .05) );
		position: absolute;
	}
	ul li.menu-item-has-children > .menu-btn:after {
		content: "\f105";
	}
	ul.reverse li.menu-item-has-children > .menu-btn:after {
		content: "\f104";
	}
	ul ul {
		padding-left: 0;
	}
}
