// --------------------------------------------------
// Mobile (only) Navigation
// --------------------------------------------------

.mobile-menu-bar {

	overflow: hidden;
	position: relative;

	@include list-unstyled;

 	.menu-btn {
		border: none;
		font-size: $font-size-mobile-menu-bar-btn;
		font-weight: $font-weight-mobile-menu-bar-btn;
		letter-spacing: $font-ls-mobile-menu-bar-btn;
		padding: em(18px, $font-size-mobile-menu-bar-btn) em(20px, $font-size-mobile-menu-bar-btn);
		text-transform: $font-transform-mobile-menu-bar-btn;
	}
	&.text-dark .menu-btn {

		color: $clr-text-darken;

		&:hover,
		&:focus {
			background-color: rgba($clr-light, .3);
		}
	}
	&.text-light .menu-btn {

		color: $clr-text-inv-darken;

		&:hover,
		&:focus {
			background-color: rgba($clr-black, .3);
		}
	}

	// Sub-level indicator icons
	li.menu-item-has-children > .menu-btn {
		@if ($direction == 'rtl') {
			padding-left: 2.5em;
		} @else {
			padding-right: 2.5em;
		}
	}
	li.menu-item-has-children > .menu-btn:after {
		@if ($direction == 'rtl') {
			content: "\f104"; // point left
		} @else {
			content: "\f105"; // point right
		}
		font-family: "FontAwesome";
		position: absolute;
		top: 50%;
		@if ($direction == 'rtl') {
			left: 1em;
		} @else {
			right: 1em;
		}
		text-align: center;
		transform: translate(0, -50%);
		transition: transform .2s cubic-bezier(0.04,.78,.35,.92), top .2s ease-in-out;
		width: 1em;
		height: 1em;
	}

	// Back buttons
	.menu-btn.back:after {
		content: if ( $direction == 'rtl', "\f105", "\f104" );
		@if ($direction == 'rtl') {
			content: "\f105"; // point right
		} @else {
			content: "\f104"; // point left
		}
		font-family: "FontAwesome";
	}

	// Sub-levels
	ul {
		position: absolute;
		top: 0;
		bottom: 0;
		@if ($direction == 'rtl') {
			right: 100%;
		} @else {
			left: 100%;
		}
		width: 100%;
		transform: translate3D(0, 0, 0);
		transition: transform .4s ease-in-out;
		z-index: 1;
		@include list-unstyled;
	}
	ul.on {
		@if ($direction == 'rtl') {
			transform: translate3D(100%, 0, 0);
		} @else {
			transform: translate3D(-100%, 0, 0);
		}
	}

}
