
// Navigation
// --------------------------------------------------

//
// General Properties
//

.menu-bar,
.submenu-bar,
.submenu-tabs,
.submenu-pills {

	@include list-unstyled;
	@include clearfix;

	ul {
		@include list-unstyled;
	}
}
.menu-btn {
	display: block;
	line-height: 1;
	position: relative;
	transition: $btn-transition;
}
.menu-bar-horz,
.submenu-horz {
	@include nav-horz;
}
@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			.menu-bar-horz-#{$breakpoint},
			.submenu-horz-#{$breakpoint} {
				@include nav-horz;
			}
		}
	}
}

//
// Sub-levels
//

.menu-bar,
.submenu-bar,
.submenu-tabs,
.submenu-pills {

	// Level 2+
	ul {
		font-size: $font-size-dropdown;
		padding-left: 10px;
	}
	ul .menu-btn {
		padding: .75em $flyout-horz-spacing;
	}
	&.text-dark ul .menu-btn {
		color: $clr-text-darken;
	}
	&.text-dark ul a.menu-btn {

		color: $clr-text-base;

		&:hover,
		&:focus {
			color: $clr-text-darken;
		}
	}
	&.text-light ul .menu-btn {
		color: $clr-text-inv-darken;
	}
	&.text-light ul a.menu-btn {

		color: rgba($clr-text-inv-darken, .8);

		&:hover,
		&:focus {
			color: $clr-text-inv-darken;
		}
	}

	// Level 3
	ul ul {
		padding-left: 20px;
	}

}

//
// Dropdown Menus
//

.fs-menu {

	position: relative;

	li,
	.menu-btn {
	    position: relative;
	}

	// Drop indicator icons
	li.menu-item-has-children > .menu-btn {
		@if ($direction == 'rtl') {
			padding-left: 2.5em;
		} @else {
			padding-right: 2.5em;
		}
	}
	li.menu-item-has-children > .menu-btn:after {
		content: "\f107";
		font-family: "FontAwesome";
		position: absolute;
		top: 50%;
		@if ($direction == 'rtl') {
			left: 1em;
		} @else {
			right: 1em;
		}
		text-align: center;
		transform: translate(0, -50%);
		width: 1em;
		height: 1em;
	}

	// Flyout menu
	ul {
		max-width: 100%;
		min-width: $flyout-width;
		padding: $flyout-vert-spacing 0;
		position: static;
		top: 100%;
		@if ($direction == 'rtl') {
			right: 0;
		} @else {
			left: 0;
		}
		z-index: 999;
	}
	ul:not(.mega-sub-menu) {
		display: none;
	}
	ul.reverse {
		@if ($direction == 'rtl') {
			left: 0;
			right: initial;
		} @else {
			left: initial;
			right: 0;
		}
	}
	ul ul {
		top: 0;
		@if ($direction == 'rtl') {
			right: 100%;
		} @else {
			left: 100%;
		}
	}
	ul.reverse ul {
		@if ($direction == 'rtl') {
			left: 100%;
			right: initial;
		} @else {
			left: inherit;
			right: 100%;
		}
	}
	ul.text-dark > li > .menu-btn {

		color: $clr-text-base;

		&:hover,
		&:focus {
			color: $clr-text-darken;
		}

	}
	ul.text-light > li > .menu-btn {

		color: rgba($clr-text-inv-darken, .8);

		&:hover,
		&:focus {
			color: $clr-text-inv-darken;
		}

	}

	// Display drop menus (no-js fallback)
	li:hover ul {
		display: block;
	}

	// Mega Menus
	li.has-mega-menu {
    	position: static;
	}
	.fs-mega {
		display: none;
		padding: 20px 0;
		top: 100%;
		@if ($direction == 'rtl') {
			right: 0;
		} @else {
			left: 0;
		}
		width: 100%;
		z-index: 999;
	}
	.fs-mega-section {

		margin-bottom: 20px;
		width: 100%;

		ul {
			padding: 0;
		}
	}
	.fs-mega-section:last-child {
		margin-bottom: 0;
	}
	.mega-section-header {
		display: block;
		font-size: 1.1em;
		font-weight: $font-weight-bold;
	}
	.mega-section-header a {
		background-color: transparent !important;
		font-size: inherit !important;
		display: inline !important;
		padding: 0 !important;
	}

}
.fs-menu.menu-bar-horz,
.fs-menu.submenu-horz {
	@include nav-dropdown();
}
@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			.fs-menu.menu-bar-horz-#{$breakpoint},
			.fs-menu.submenu-horz-#{$breakpoint} {
				@include nav-dropdown();
			}
		}
	}
}

//
// Menu Bar
//

.menu-bar {

	.menu-btn {
		border: none;
	}

	// Level 1
	> li > .menu-btn {
    	font-size: $font-size-menu-bar-btn;
		font-weight: $font-weight-menu-bar-btn;
		letter-spacing: $font-ls-menu-bar-btn;
    	padding: em(18px, $font-size-menu-bar-btn) em(20px, $font-size-menu-bar-btn);
		text-transform: $font-transform-menu-bar-btn;
	}
	&.text-dark {
		> li > .menu-btn {

			color: $clr-text-darken;

			&:hover,
			&:focus {
				background-color: rgba($clr-light, .3);
			}
		}
		> li.active,
		> li.current-menu-item,
		> li.current-menu-ancestor {
			> .menu-btn {
				background-color: rgba($clr-light, .3)
			}
		}
	}
	&.text-light {

		> li > .menu-btn {

			color: $clr-text-inv-darken;

			&:hover,
			&:focus {
				background-color: rgba($clr-black, .5);
			}
		}
		> li.active,
		> li.current-menu-item,
		> li.current-menu-ancestor {
			> .menu-btn {
				background-color: rgba($clr-black, .5);
			}
		}
	}

}

//
// Submenu Bar
//

.submenu-bar {

	padding: $padding-submenu;

	.menu-btn {
		border: none;
	}
	&.text-dark {
		.menu-btn {

			color: rgba($clr-text-darken, .8);

			&:hover,
			&:focus {
				color: $clr-text-darken;
			}
		}
		> li.active,
		> li.current-menu-item,
		> li.current-menu-ancestor {
			> .menu-btn {
				background-color: rgba($clr-light, .3);
				color: $clr-text-darken;
			}
		}
	}
	&.text-light {
		.menu-btn {

			color: rgba($clr-text-inv-darken, .8);

			&:hover,
			&:focus {
				color: $clr-text-inv-darken;
			}
		}
		> li.active,
		> li.current-menu-item,
		> li.current-menu-ancestor {
			> .menu-btn {
				background-color: rgba($clr-black, .5);
				color: $clr-text-inv-darken;
			}
		}
	}

	// Level 1
	> li > .menu-btn {
		font-weight: $font-weight-submenu-btn;
    	font-size: $font-size-submenu-btn;
		letter-spacing: $font-ls-submenu-btn;
    	padding: em(10px, $font-size-submenu-btn) em(16px, $font-size-submenu-btn);
		text-transform: $font-transform-submenu-btn;
	}

	// Level 2 flyouts
	&.fs-menu > li > ul {
		margin-top: $padding-submenu;
	}

}

//
// Tabs
//

.submenu-tabs {

	border-color: if($style == 'inverse', $tabs-border-inv-color, $tabs-border-color);
	border-style: solid;
	@if ($direction == 'rtl') {
		border-width: $tabs-border-width $tabs-border-width 0 0;
	} @else {
		border-width: 0 0 $tabs-border-width $tabs-border-width;
	}

	> li > .menu-btn {

		background: if($style == 'inverse', $tabs-inv-bg, $tabs-bg);
		border-color: if($style == 'inverse', $tabs-border-inv-color, $tabs-border-color);
		border-style: solid;
		@if ($direction == 'rtl') {
			border-width: 0 0 $tabs-border-width $tabs-border-width;
		} @else {
			border-width: $tabs-border-width $tabs-border-width 0 0;
		}
		padding: $padding-tabs;
		font-size: $font-size-tabs;
		color: inherit;

		&:hover,
		&:focus {
			background-color: if($style == 'inverse', $tabs-hover-inv-bg, $tabs-hover-bg);
		}
	}
	> li.active,
	> li.current-menu-item,
	> li.current-menu-ancestor {
		> .menu-btn {
			background: if($style == 'inverse', $tabs-active-inv-bg, $tabs-active-bg);
			border-bottom-color: transparent;
			cursor: default;
		}
	}
	> li.active,
	> li.current-menu-item {
		> .menu-btn {
			cursor: default;
		}
	}

	// Horizontal
	&.submenu-horz {
		@include nav-tabs-horz;
	}

	// Level 2+
	ul {

		background: if($style == 'inverse', $tabs-active-inv-bg, $tabs-active-bg);
		padding-top: $flyout-vert-spacing;
		padding-bottom: $flyout-vert-spacing;

		.menu-btn {

			color: if($style == 'inverse', rgba($clr-text-inv-darken, .8), $clr-text-base);

			&:hover,
			&:focus {
				color: if($style == 'inverse', $clr-text-inv-darken, $clr-text-darken);
			}
		}
	}
	> li > ul {
		@if ($direction == 'rtl') {
			border-left-color: if($style == 'inverse', $tabs-border-inv-color, $tabs-border-color);
			border-left-style: solid;
			border-left-width: $tabs-border-width;
		} @else {
			border-right-color: if($style == 'inverse', $tabs-border-inv-color, $tabs-border-color);
			border-right-style: solid;
			border-right-width: $tabs-border-width;
		}
	}

}

@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			.submenu-tabs.submenu-horz-#{$breakpoint} {
				@include nav-tabs-horz;
			}
		}
	}
}

@if ($style == 'inverse') {
	.text-dark {
		@include tabs-variant;
	}
	.text-light {
		@include tabs-variant('inverse');
	}
} @else {
	.text-light {
		@include tabs-variant('inverse');
	}
	.text-dark {
		@include tabs-variant;
	}
}

//
// Pills
//

.submenu-pills {

	margin-right: -$pills-spacing;
	margin-left: -$pills-spacing;

	> li {
		padding: 0 $pills-spacing;
	}
	> li > .menu-btn {

		background: $pills-bg;
		border-color: if($style == 'inverse', $pills-border-inv-color, $pills-border-color);
		border-style: solid;
		border-width: $pills-border-width;
		color: inherit;
		padding: $padding-pills;
		font-size: $font-size-pills;

		&:hover,
		&:focus {
			background: if($style == 'inverse', $pills-hover-inv-bg, $pills-hover-bg);
		}
	}

	// Horizontal
	&.submenu-horz {
		@include nav-pills-horz;
	}

	// Level 2+
	ul {

		padding: $flyout-vert-spacing 10px;

		.menu-btn {

			color: if($style == 'inverse', rgba($clr-text-inv-darken, .8), $clr-text-base);
			padding-right: 10px;
			padding-left: 10px;

			&:hover,
			&:focus {
				color: if($style == 'inverse', $clr-text-inv-darken, $clr-text-darken);
			}
		}
	}
}

@each $breakpoint in $breakpoints {
	@if $breakpoint != xl { // skip xl
		@include min-width($breakpoint) {
			.submenu-pills.submenu-horz-#{$breakpoint} {
				@include nav-pills-horz;
			}
		}
	}
}

@if ($style == 'inverse') {
	.text-dark {
		@include pills-variant;
	}
	.text-light {
		@include pills-variant('inverse');
	}
} @else {
	.text-light {
		@include pills-variant('inverse');
	}
	.text-dark {
		@include pills-variant;
	}
}

.submenu-pills {
	> li.active,
	> li.current-menu-item,
	> li.current-menu-ancestor {
		> .menu-btn,
		> .menu-btn:hover,
		> .menu-btn:focus {
			background: $pills-active-bg;
			border-color: transparent;
			color: $pills-active-text;
		}
	}
	> li.active,
	> li.current-menu-item {
		cursor: default;
	}
}
