
// Typography
// --------------------------------------------------

//
// Body Text
//

body,
html {
	color: $clr-text-base-fallback;
	color: if($style == 'inverse', $clr-text-inv-base, $clr-text-base);
	font-family: $font-fam-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $font-lh-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@if $direction == 'rtl' {
	body {
		direction: rtl;
		unicode-bidi: embed;
	}
}
html,
body,
button,
input,
select,
textarea {
	color: $clr-text-base-fallback;
    color: if($style == 'inverse', $clr-text-inv-base, $clr-text-base);
    font-family: $font-fam-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $font-lh-base;
}
@if $style == 'inverse' {
	.text-dark,
	.text-dark button,
	.text-dark input,
	.text-dark select,
	.text-dark textarea {
		color: $clr-text-base;
	}
	.text-light,
	.text-light button,
	.text-light input,
	.text-light select,
	.text-light textarea {
		color: rgba($clr-text-inv-base, 0.8);
	}
} @else {
	.text-light,
	.text-light button,
	.text-light input,
	.text-light select,
	.text-light textarea {
		color: rgba($clr-text-inv-base, 0.8);
	}
	.text-dark,
	.text-dark button,
	.text-dark input,
	.text-dark select,
	.text-dark textarea {
		color: $clr-text-base;
	}
}

//
// Links
//

a {
	color: $clr-link;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: $clr-link-hover;
}
@if $style == 'inverse' {
	.text-dark {
		@include blend-links();
	}
	.text-light a {
		color: $clr-link;
	}
	.text-light a:hover,
	.text-light a:active,
	.text-light a:focus {
		color: $clr-link-hover;
	}
} @else {
	.text-light {
		@include blend-links();
	}
	.text-dark a {
		color: $clr-link;
	}
	.text-dark a:hover,
	.text-dark a:active,
	.text-dark a:focus {
		color: $clr-link-hover;
	}
}

//
// Paragraphs
//

p {
	margin: $margin-paragraph;
	@include margin-vert-flush
}
.lead {
	@include min-width(sm) {
		font-size: $font-size-lead;
		line-height: $font-lh-lead;
		margin: $margin-lead;
		@include margin-vert-flush
	}
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: if($style == 'inverse', $clr-text-inv-darken, $clr-text-darken);
	font-weight: $font-weight-heading;
	font-family: $font-fam-headings;
	font-weight: $font-weight-heading;
	letter-spacing: $font-ls-heading;
	line-height: $font-lh-heading;
	margin: $margin-heading;
	text-transform: $font-transform-heading;
	@include margin-vert-flush;
}
@if $style == 'inverse' {
	.text-dark h1, .text-dark .h1,
	.text-dark h2, .text-dark .h2,
	.text-dark h3, .text-dark .h3,
	.text-dark h4, .text-dark .h4,
	.text-dark h5, .text-dark .h5,
	.text-dark h6, .text-dark .h6 {
		color: $clr-text-darken;
	}
	.text-light h1, .text-light .h1,
	.text-light h2, .text-light .h2,
	.text-light h3, .text-light .h3,
	.text-light h4, .text-light .h4,
	.text-light h5, .text-light .h5,
	.text-light h6, .text-light .h6 {
		color: $clr-text-inv-darken;
	}
} @else {
	.text-light h1, .text-light .h1,
	.text-light h2, .text-light .h2,
	.text-light h3, .text-light .h3,
	.text-light h4, .text-light .h4,
	.text-light h5, .text-light .h5,
	.text-light h6, .text-light .h6 {
		color: $clr-text-inv-darken;
	}
	.text-dark h1, .text-dark .h1,
	.text-dark h2, .text-dark .h2,
	.text-dark h3, .text-dark .h3,
	.text-dark h4, .text-dark .h4,
	.text-dark h5, .text-dark .h5,
	.text-dark h6, .text-dark .h6 {
		color: $clr-text-darken;
	}
}
@each $tag, $map in $font-size-headings {
	#{$tag}, .#{$tag} {
		font-size: map-get($map, base);
	}
}
@include max-width(sm) {
	@each $tag, $map in $font-size-headings {
		#{$tag}, .#{$tag} {
			font-size: map-get($map, mobile);
		}
	}
}

//
// Subtitles
//

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
	display: block;
	font-size: .45em;
	letter-spacing: $font-ls-subtitles;
	margin: .6em 0 0 .1em;
	text-transform: $font-transform-subtitles;
}
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
	font-size: $font-size-subtitle-sm;
}

//
// Bigger Headings
//

.heading-lg,
.heading-xl,
.heading-xxl,
.heading-xxxl {
	font-weight: $font-weight-heading-lg;
	letter-spacing: $font-ls-heading-lg;
	margin: $margin-heading-lg;
	text-transform: $font-transform-heading-sm;
	@include margin-vert-flush;
}
@each $tag, $map in $font-size-headings-bigger {
	.heading-#{$tag} {
		font-size: map-get($map, base);
	}
}
@include max-width(sm) {
	@each $tag, $map in $font-size-headings-bigger {
		.heading-#{$tag} {
			font-size: map-get($map, mobile);
		}
	}
}

//
// Smaller Headings
//

.heading-sm,
.heading-xs,
.heading-xxs,
.heading-xxxs {
	font-weight: $font-weight-heading-sm;
	letter-spacing: $font-ls-heading-sm;
	margin: $margin-heading-sm;
	text-transform: $font-transform-heading-sm;
	@include margin-vert-flush;
}
@each $tag, $map in $font-size-headings-smaller {
	.heading-#{$tag} {
		font-size: map-get($map, base);
	}
}

//
// Heading Underline
//

.heading-underline {

    border-bottom: 2px solid if($style == 'inverse', rgba($clr-darkest, 0.5), $clr-trans-lightest);
    padding-bottom: .8em;
    position: relative;

	&:before {
		content: "";
		background: map-deep-get($clr-branding, secondary, base);
		position: absolute;
		bottom: -2px;
		@if $direction == 'rtl' {
			right: 0;
		} @else {
			left: 0;
		}
		width: 75px;
		height: 2px;
		z-index: 2;
	}
}
@if $style == 'inverse' {
	.text-dark .heading-underline {
		border-bottom-color: $clr-trans-lightest;
	}
	.text-light .heading-underline {
		border-bottom-color: rgba($clr-darkest, 0.5);
	}
} @else {
	.text-light .heading-underline {
		border-bottom-color: rgba($clr-darkest, 0.5);
	}
	.text-dark .heading-underline {
		border-bottom-color: $clr-trans-lightest;
	}
}

//
// Code
//

pre {
    background-color: $clr-bg-code;
    border: none;
	@include border-radius(2px);
    font-family: $font-fam-code;
    font-size: $font-size-pre;
    line-height: $font-lh-base;
    margin: $margin-element;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
	@include margin-vert-flush;
}
code, kbd, tt, var {
    font-family: $font-fam-code;
    font-size: $font-size-code;
	font-weight: bold;
}
code {
    background-color: $clr-bg-code;
    @include border-radius(1px);
	color: $clr-text-base;
	font-size: 90%;
	padding: 0.125em 0.25em;
}
pre code {
    background-color: transparent;
    border: none;
    padding: 0;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: $clr-text-inv-base;
	background-color: $clr-bg-kbd;
	@include border-radius(2px);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

	kbd {
		padding: 0;
		font-size: 100%;
		font-weight: bold;
		box-shadow: none;
	}
}

//
// Emphasis & misc
//

small,
.small {
	font-size: $font-size-small;
}
big,
.big {
    font-size: $font-size-big;
}
mark,
.mark,
ins,
.ins {
	background-color: $clr-highlight;
	padding: .2em;
	text-decoration: none;
}
dfn, cite, em, i {
    font-style: italic;
}
address {
	font-style: $font-style-address;
	line-height: $font-lh-base;
    margin: $margin-element;
	@include margin-vert-flush;
}
abbr, acronym {
    border-bottom: 1px dotted $clr-border-light;
    cursor: help;
}

//
// Blockquotes
//

blockquote {
    color: if($style == 'inverse', $clr-text-inv-darken, $clr-text-darken);
    font-size: $font-size-quote;
    font-style: $font-style-quote;
    line-height: $font-lh-quote;
    margin: $margin-quote;
	text-transform: $font-transform-quote;

	@include margin-vert-flush;

	&.alignleft,
	&.pull-left,
	&.alignright,
	&.pull-right {
		margin: $margin-quote;
		margin-top: $spacing-element;
		margin-bottom: $spacing-element;
	}
}
@include max-width(sm) {
	blockquote,
	blockquote.alignleft,
	blockquote.pull-left,
	blockquote.alignright,
	blockquote.pull-right {
		margin-right: 0;
		margin-left: 0;
	}
}
@if $style == 'inverse' {
	.text-dark blockquote {
		color: $clr-text-darken;
	}
	.text-light blockquote {
		color: $clr-text-inv-darken;
	}
} @else {
	.text-light blockquote {
		color: $clr-text-inv-darken;
	}
	.text-dark blockquote {
		color: $clr-text-darken;
	}
}
blockquote.pull-left
blockquote.alignleft {
	text-align: left;
}
blockquote.pull-right
blockquote.alignright {
	text-align: right;
}
blockquote {

	cite {
		display: block;
		font-style: normal;
		font-weight: bold;
		margin-top: .8em;
		text-transform: uppercase;
	}
	cite,
	cite:before {
		color: if($style == 'inverse', $clr-text-inv-lighten, $clr-text-lighten);
		font-size: $font-size-cite;
	    line-height: $font-lh-cite;
	}
	cite:before {
	    content: '\2014 \00A0';
	}

}
@if $style == 'inverse' {
	.text-dark blockquote cite,
	.text-dark blockquote cite:before {
		color: $clr-text-lighten;
	}
	.text-light blockquote cite,
	.text-light blockquote cite:before {
		color: $clr-text-inv-lighten;
	}
} @else {
	.text-light blockquote cite,
	.text-light blockquote cite:before {
		color: $clr-text-inv-lighten;
	}
	.text-dark blockquote cite,
	.text-dark blockquote cite:before {
		color: $clr-text-lighten;
	}
}
