// ==========================================================================
// Responsive Breakpoints
// ==========================================================================

$breakpoints						: xs, sm, md, lg, xl;
$breakpoint-xs 						: 576px;
$breakpoint-sm 						: 768px;
$breakpoint-md 						: 992px;
$breakpoint-lg						: 1200px;
$breakpoint-xl 						: 1600px;

// ==========================================================================
// Grid System
// ==========================================================================

$grid-gutters						: 30px;

// ==========================================================================
// Typography
// ==========================================================================

// Font Families

$font-fam-base						: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-fam-headings					: $font-fam-base;
$font-fam-code						: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Font Sizes

$font-size-xxxl						: 64px;
$font-size-xxl						: 40px;
$font-size-xl						: 24px;
$font-size-lg						: 20px;
$font-size-base 					: 16px;
$font-size-md						: $font-size-base - 1px; // 15px
$font-size-sm						: $font-size-base - 2px; // 14px
$font-size-xs						: $font-size-base - 3px; // 13px
$font-size-xxs						: $font-size-base - 4px; // 12px
$font-size-xxxs						: $font-size-base - 5px; // 11px
$font-size-micro					: $font-size-base - 6px; // 10px

// Font Size Usage

$font-size-headings : (
	h1 : (
		base						: 2.5rem,
		mobile						: 28px
	),
	h2 : (
		base						: 2rem,
		mobile						: 22px
	),
	h3 : (
		base						: 1.75rem,
		mobile						: 20px
	),
	h4 : (
		base						: 1.5rem,
		mobile						: 18px
	),
	h5 : (
		base						: 1.25rem,
		mobile						: 17px
	),
	h6 : (
		base						: 1rem,
		mobile						: $font-size-base
	)
);

$font-size-headings-bigger : (
	lg : (
		base						: 3rem,
		mobile						: 28px // Match mobile <h1>.
	),
	xl : (
		base						: 4rem,
		mobile						: 30px
	),
	xxl : (
		base						: 5rem,
		mobile						: 32px
	),
	xxxl : (
		base						: 6rem,
		mobile						: 34px
	)
);

$font-size-headings-smaller : (
	sm : (
		base						: $font-size-base,
		mobile						: $font-size-base
	),
	xs : (
		base						: $font-size-md,
		mobile						: $font-size-md
	),
	xxs : (
		base						: $font-size-sm,
		mobile						: $font-size-sm
	),
	xxxs : (
		base						: $font-size-xs,
		mobile						: $font-size-xs
	)
);

$font-size-subtitle					: .45em;
$font-size-subtitle-sm				: $font-size-xxs;

$font-size-lead						: $font-size-lg;
$font-size-small					: .8em;
$font-size-big						: 1.25em;
$font-size-cite						: $font-size-xxs;
$font-size-code						: $font-size-sm;
$font-size-pre						: $font-size-md;
$font-size-caption					: $font-size-sm;
$font-size-quote					: 1.3rem;
$font-size-alert					: 0.9375rem;
$font-size-btn						: $font-size-xxxs;
$font-size-navbar-btn				: $font-size-sm;
$font-size-subnav-btn				: $font-size-btn;
$font-size-mobile-navbar-btn		: $font-size-sm;
$font-size-dropdown					: $font-size-xs;

// Font Line Heights

$font-lh-base 						: 1.6;
$font-lh-caption					: 1.4;
$font-lh-cite						: 1.4;
$font-lh-heading 					: 1.2;
$font-lh-heading-sm 				: 1.4;
$font-lh-lead						: 1.4;
$font-lh-quote						: 1.4;
$font-lh-header-menu				: 1.25;
$font-lh-header-menu-dropdown		: 1.4;
$font-lh-btn 						: 1.4;

// Font Style

$font-style-quote					: italic;
$font-style-address					: normal;

// Font Weights

$font-weight-base					: 300;
$font-weight-heading				: 700;
$font-weight-heading-lg				: 700;
$font-weight-heading-sm				: 700;
$font-weight-btn					: 500;
$font-weight-navbar-btn				: $font-weight-base;
$font-weight-subnav-btn				: $font-weight-btn;
$font-weight-mobile-navbar-btn		: $font-weight-navbar-btn;

// Text Transform

$font-transform-heading				: none;
$font-transform-heading-lg			: none;
$font-transform-heading-sm			: uppercase;
$font-transform-subtitles			: none;
$font-transform-quote				: none;
$font-transform-btn					: uppercase;
$font-transform-navbar-btn			: none;
$font-transform-subnav-btn			: $font-transform-btn;
$font-transform-mobile-navbar-btn	: $font-transform-navbar-btn;

// Letter Spacing

$font-ls-heading					: 0;
$font-ls-heading-lg					: 1px;
$font-ls-heading-sm					: 1px;
$font-ls-subtitles					: 0;
$font-ls-btn						: .12em;
$font-ls-navbar-btn					: 0;
$font-ls-subnav-btn					: $font-ls-btn;
$font-ls-mobile-navbar-btn			: $font-ls-navbar-btn;

// ==========================================================================
// Colors
// ==========================================================================

// Greyscale

$clr-white							: #fff;

$clr-light							: #ccc;
$clr-lighter						: #ddd;
$clr-lightest						: #f8f8f8;

$clr-grey							: #999;
$clr-greyer							: #666;
$clr-greyest						: #444;

$clr-dark							: #333;
$clr-darker							: #1b1b1b;
$clr-darkest						: #101010;

$clr-black							: #000;

// Transparent Greyscale

$clr-trans-light 					: rgba(97, 97, 97, .4);     // On white BG ≈ #ccc
$clr-trans-lighter 					: rgba(176, 176, 176, .4);  // On white BG ≈ #ddd
$clr-trans-lightest 				: rgba(237, 237, 237, .4);  // On white BG ≈ #f8f8f8

$clr-trans-grey						: rgba(110, 110, 110, .7);  // On white BG ≈ #999
$clr-trans-greyer					: rgba(50, 50, 50, .7);     // On white BG ≈ #666
$clr-trans-greyest					: rgba(0, 0, 0, .7);        // On white BG ≈ #444

// Action Colors

$clr-highlight						: #fcf8e3;

// Text Colors

$clr-text-base-fallback				: $clr-greyer;
$clr-text-base						: $clr-trans-greyer;
$clr-text-lighten					: $clr-trans-grey;
$clr-text-darken					: $clr-dark;

$clr-text-inv-base					: $clr-white;
$clr-text-inv-lighten				: $clr-light;
$clr-text-inv-darken				: $clr-white;

// Links

$clr-link							: #428bca;
$clr-link-hover						: #2a6496;

// Branding

$clr-branding : (
	primary : (
		base						: $clr-dark,
		contrast					: $clr-text-inv-base
	),
	secondary : (
		base						: #fec527,
		contrast					: $clr-text-inv-base
	)
);

// Color Library

$clr-library : (
	asphalt : (
		base 						: #34495e,
		contrast 					: $clr-text-inv-base
	),
	blue : (
		base 						: #00437f,
		contrast 					: $clr-text-inv-base
	),
	black : (
		base 						: $clr-black,
		contrast 					: $clr-text-inv-base
	),
	brown : (
		base 						: #825a2c,
		contrast 					: $clr-text-inv-base
	),
	concrete : (
		base 						: #95a5a6,
		contrast 					: $clr-text-inv-base
	),
	cream : (
		base 						: #f5d76e,
		contrast 					: $clr-text-base
	),
	crimson : (
		base 						: #c3272b,
		contrast 					: $clr-text-inv-base
	),
	dark_blue : (
		base 						: #153f5a,
		contrast 					: $clr-text-inv-base
	),
	dark_brown : (
		base 						: #572f05,
		contrast 					: $clr-text-inv-base
	),
	dark_green : (
		base 						: #485a21,
		contrast 					: $clr-text-inv-base
	),
	dark_purple : (
		base 						: #5d3f6A,
		contrast 					: $clr-text-inv-base
	),
	forest : (
		base 						: #006442,
		contrast 					: $clr-text-inv-base
	),
	green : (
		base 						: #26a65b,
		contrast 					: $clr-text-inv-base
	),
	jungle : (
		base 						: #36b3a8,
		contrast 					: $clr-text-inv-base
	),
	mauve : (
		base 						: #7b726c,
		contrast 					: $clr-text-inv-base
	),
	orange : (
		base 						: #ff9624,
		contrast 					: $clr-text-inv-base
	),
	peach : (
		base 						: #f47983,
		contrast 					: $clr-text-inv-base
	),
	pearl : (
		base 						: #bca89d,
		contrast 					: $clr-text-inv-base
	),
	pink : (
		base 						: #de2e81,
		contrast 					: $clr-text-inv-base
	),
	pomegranate : (
		base 						: #e74c3c,
		contrast 					: $clr-text-inv-base
	),
	purple : (
		base 						: #78498e,
		contrast 					: $clr-text-inv-base
	),
	red : (
		base 						: #8f1d21,
		contrast 					: $clr-text-inv-base
	),
	royal : (
		base 						: #428bca,
		contrast 					: $clr-text-inv-base
	),
	slate_grey : (
		base 						: #7f8d9c,
		contrast 					: $clr-text-inv-base
	),
	silver : (
		base 						: #bdc3c7,
		contrast 					: $clr-text-inv-base
	),
	steel_blue : (
		base 						: #4b77Be,
		contrast 					: $clr-text-inv-base
	),
	teal : (
		base 						: #008080,
		contrast 					: $clr-text-inv-base
	),
	turquoise : (
		base 						: #36d7b7,
		contrast 					: $clr-text-inv-base
	),
	yellow : (
		base 						: #ecc11B,
		contrast 					: $clr-text-base
	),
	wheat : (
		base 						: #b4ad8b,
		contrast 					: $clr-text-inv-base
	),
	white : (
		base 						: $clr-white,
		contrast 					: $clr-text-base
	)
);

// Contextual

$clr-contextual : (
	success : (
		base						: #dff0d8,
		contrast					: #3c763d
	),
	info : (
		base						: #d9edf7,
		contrast					: #31708f
	),
	warning : (
		base						: $clr-highlight,
		contrast					: #8a6d3b
	),
	danger : (
		base						: #f2dede,
		contrast					: #a94442
	)
);

// Border Colors

$clr-border-white					: $clr-white;
$clr-border-dark					: $clr-dark;
$clr-border-light					: $clr-trans-lighter;

// Background Colors

$clr-bg-white						: $clr-white;
$clr-bg-light						: $clr-lightest;
$clr-bg-dark						: $clr-dark;
$clr-bg-black						: $clr-black;

$clr-bg-body						: $clr-white;
$clr-bg-hr							: rgba($clr-bg-dark, 0.1);
$clr-bg-code						: $clr-lightest;
$clr-bg-kbd							: $clr-bg-dark;
$clr-bg-btn							: darken($clr-bg-light, 2%);

// ==========================================================================
// Utilities
// ==========================================================================

// Borders

$border-utils : (
	xs : (
		width						: 1px,
		style 						: solid,
		color						: $clr-lighter
	),
	sm : (
		width						: 2px,
		style 						: solid,
		color						: $clr-lighter
	),
	md : (
		width						: 5px,
		style 						: solid,
		color						: $clr-lighter
	),
	lg : (
		width						: 10px,
		style 						: solid,
		color						: $clr-lighter
	),
	xl : (
		width						: 15px,
		style 						: solid,
		color						: $clr-lighter
	)
);

// ==========================================================================
// Spacing
// ==========================================================================

// General

$spacing-element					: 24px;

// Margins

$margin-element						: 0 0 $spacing-element 0;
$margin-column						: $spacing-element;
$margin-heading						: ($spacing-element + 10px) 0 $spacing-element 0;
$margin-heading-lg					: 0 0 $spacing-element 0;
$margin-heading-sm					: 0 0 $spacing-element 0;
$margin-paragraph					: 0 0 $spacing-element 0;
$margin-lead						: 0 0 $spacing-element 0;
$margin-list						: 0 0 $spacing-element 0;
$margin-quote						: 40px 30px;
$margin-table						: 0 0 $spacing-element 0;
$margin-alert						: 0 0 $spacing-element 0;
$margin-btn-group					: 0 -1px;
$margin-btn-group-block				: 0 -1px $spacing-element -1px;
$margin-btn-group-btn				: 0 1px;
$margin-pagination					: 0 0 $spacing-element 0;

// Padding

$padding-list						: 0 0 0 40px;
$padding-alert						: 15px;
$padding-btn						: 12px 20px;
$padding-subnav						: 12px;

// ==========================================================================
// Buttons
// ==========================================================================

$btn-transition						: background-color 0.2s ease-out;
$btn-border-width					: 2px; // Transparent on standard .btn

// Button Sizes

$btn-sizes : (
	xs : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		padding						: 6px 10px
	),
	sm : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		padding						: 9px 15px
	),
	lg : (
		font-size					: 12px,
		letter-spacing 				: $font-ls-btn,
		padding						: 18px 30px
	),
	xl : (
		font-size					: 14px,
		letter-spacing 				: $font-ls-btn,
		padding						: 20px 40px
	),
	xxl : (
		font-size					: 15px,
		letter-spacing 				: $font-ls-btn,
		padding						: 22px 50px
	),
	xxxl : (
		font-size					: 16px,
		letter-spacing 				: $font-ls-btn,
		padding						: 28px 64px
	)
);

// Close Buttons

$btn-close : (
	sm								: 20px,
	md								: 32px,
	lg								: 44px,
	xl								: 56px
);

// ==========================================================================
// Tables
// ==========================================================================

$table-cell-padding					: .75rem;

$table-bg							: transparent;

$table-inv-bg						: $clr-bg-dark;
$table-inv-color					: $clr-text-inv-base;

$table-bg-accent					: rgba($clr-black, .025);
$table-bg-hover						: rgba($clr-black, .05);
$table-bg-active					: $clr-light;

$table-head-bg						: $clr-lightest;
$table-head-color					: $clr-text-darken;

$table-border-width					: 1px;
$table-border-color					: $clr-lighter;

// Condensed Tables

$table-sm-cell-padding				: .5rem;
$table-sm-font-size					: $font-size-sm;

// ==========================================================================
// Menus
// ==========================================================================

$flyout-vert-spacing				: .85em;
$flyout-horz-spacing				: 1.5em;
$flyout-width						: 200px;
