// --------------------------------------------------
// Widgets
// --------------------------------------------------

.widget {

 	background: if($style == 'inverse', $clr-bg-inv-content, $clr-bg-content);
	font-size: $font-size-widget;
	margin: $margin-widget;
	padding: $padding-widget;

	@include margin-vert-flush;

	&.over-bg-content {
		background: if($style == 'inverse', $clr-bg-inv-body, $clr-bg-body );
	}

}

//
// Style: Default
//

.widget-default {
	.widget-title {

		font-size: $widget-default-title-size;

		&.heading-sm,
		&.heading-xs,
		&.heading-xxs,
		&.heading-xxxs {
			font-size: $widget-default-sm-title-size;
		}
	}
}

//
// Style: Classic Panel
//

.panel-classic {
	.widget-title {

		background: $widget-classic-panel-title-bg-clr;
		font-size: $widget-panel-classic-title-size;
		margin: -$padding-widget;
		margin-bottom: 24px;
		padding: 24px $padding-widget;

		&.heading-sm,
		&.heading-xs,
		&.heading-xxs,
		&.heading-xxxs {
			font-size: $widget-panel-classic-sm-title-size;
		}
	}
	@each $name, $map in $border-utils {
		&.border-#{$name} .widget-title {
			border-bottom: map-get($map, width) map-get($map, style) map-get($map, color);
		}
	}
}

//
// Style: Modnern Panel
//

.panel-modern {
	.widget-title {

		border-bottom: 2px solid if($style == 'inverse', $clr-bg-inv-body, $clr-bg-body);
		font-size: $widget-panel-modern-title-size;
		margin: -$padding-widget;
		margin-bottom: 20px;
		padding: 20px $padding-widget;

		&.heading-sm,
		&.heading-xs,
		&.heading-xxs,
		&.heading-xxxs {
			font-size: $widget-panel-modern-sm-title-size;
		}
	}
	&.over-bg-content {
		.widget-title {
			border-bottom-color: if($style == 'inverse', $clr-bg-inv-content, $clr-bg-content);
		}
	}
}
