// --------------------------------------------------
// Breadcrumbs
// --------------------------------------------------

.fs-breadcrumbs {
  font-size: $fs-breadcrumb-font-size;
  @include fs-list-unstyled;

  li {
    display: inline-block;
  }
  > li + li:before {
    content: '/\00a0';
    padding: 0 5px;
  }
  > li + li:before,
  a:not(:hover) {
    color: $fs-color-text-lighten;
  }
  li.active span {
    color: $fs-color-text-darken;
  }
  &.has-bg {
    padding: $fs-breadcrumb-padding;
  }
  &.text-light {
    > li + li:before,
    a:not(:hover) {
      color: $fs-color-text-inv-lighten;
    }
    a {
      border: none;
    }
    li.active span {
      color: $fs-color-text-inv-darken;
    }
  }
  &.text-dark {
    > li + li:before,
    a:not(:hover) {
      color: $fs-color-text-lighten;
    }
    a {
      border: none;
    }
    li.active span {
      color: $fs-color-text-darken;
    }
  }
}
