/* =Layout
-------------------------------------------------------------- */

body {
	background: #f8f8f8;
}
#main {
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.05);
  	box-shadow: 0 0 4px rgba(0,0,0,.05);
	margin: 50px auto;
	max-width: 960px;
    padding: 60px 120px;
}

/* =Examples
-------------------------------------------------------------- */

/* Quotes */
blockquote.alignleft,
blockquote.alignright {
	max-width: 300px;
}

/* Contextual Background */
.contextual-bg-example {
	padding: 20px;
}

/* Close Button */
.close-button-examples {
	height: 80px;
	position: relative;
}
.close-button-examples .close {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.close-button-examples .close:nth-child(1) {
	left: 10px;
}
.close-button-examples .close:nth-child(2) {
	left: 70px;
}
.close-button-examples .close:nth-child(3) {
	left: 125px;
}
.close-button-examples .close:nth-child(4) {
	left: 170px;
}

/* =Syntax Highlighter
-------------------------------------------------------------- */

div .syntaxhighlighter {
	background-color: #f5f5f5 !important;
	border-radius: 2px;
	margin: 20px 0 30px 0 !important;
	padding: 16px !important;
}
.syntaxhighlighter code {
	white-space: nowrap !important;
}
.syntaxhighlighter.no-wrap code {
	white-space: normal !important;
}
.syntaxhighlighter table td.code .line {
	padding-left: 8px !important;
	font-size: 14px !important;
	line-height: 22px !important;
}
.syntaxhighlighter table td.gutter .line {
	font-size: 13px !important;
	line-height: 22px !important;
	padding-left: 5px !important;
}
.syntaxhighlighter table td.code .line.alt1 {
	background-color: transparent !important;
}
.syntaxhighlighter table td.code .line.alt2 {
	background-color: transparent !important;
}
