// ==========================================================================
// Base Configuration
// ==========================================================================

//
// Breakpoints
//

$fs-breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px
) !default;

//
// Fonts
//

$fs-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif !default;
$fs-font-family-code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace !default;

$fs-line-height-base: 1.6 !default;

$fs-font-size-xxxl: 64px !default;
$fs-font-size-xxl: 40px !default;
$fs-font-size-xl: 24px !default;
$fs-font-size-lg: 20px !default;
$fs-font-size-base: 16px !default;
$fs-font-size-md: $fs-font-size-base - 1px !default; // ≈ 15px
$fs-font-size-sm: $fs-font-size-base - 2px !default; // ≈ 14px
$fs-font-size-xs: $fs-font-size-base - 3px !default; // ≈ 13px
$fs-font-size-xxs: $fs-font-size-base - 4px !default; // ≈ 12px
$fs-font-size-xxxs: $fs-font-size-base - 5px !default; // ≈ 11px
$fs-font-size-micro: $fs-font-size-base - 6px !default; // ≈ 10px

$fs-font-weight-base: 300 !default;
$fs-font-weight-bold: 700 !default;

//
// Colors
//

// Colors: Greyscale

$fs-color-white: #fff !default;

$fs-color-light: #ccc !default;
$fs-color-lighter: #ddd !default;
$fs-color-lightest: #f8f8f8 !default;

$fs-color-grey: #999 !default;
$fs-color-greyer: #666 !default;
$fs-color-greyest: #444 !default;

$fs-color-dark: #333 !default;
$fs-color-darker: #1b1b1b !default;
$fs-color-darkest: #101010 !default;

$fs-color-black: #000 !default;

// Colors: Transparent Greyscale

$fs-color-trans-light: rgba(97, 97, 97, 0.4) !default; // On white BG ≈ #ccc
$fs-color-trans-lighter: rgba(176, 176, 176, 0.4) !default; // On white BG ≈ #ddd
$fs-color-trans-lightest: rgba(237, 237, 237, 0.4) !default; // On white BG ≈ #f8f8f8

$fs-color-trans-grey: rgba(110, 110, 110, 0.7) !default; // On white BG ≈ #999
$fs-color-trans-greyer: rgba(50, 50, 50, 0.7) !default; // On white BG ≈ #666
$fs-color-trans-greyest: rgba(0, 0, 0, 0.7) !default; // On white BG ≈ #444

// Colors: Text

$fs-color-text-base-fallback: $fs-color-greyer !default;
$fs-color-text-base: $fs-color-trans-greyer !default;
$fs-color-text-lighten: $fs-color-trans-grey !default;
$fs-color-text-darken: $fs-color-dark !default;

$fs-color-text-inv-base: $fs-color-white !default;
$fs-color-text-inv-lighten: $fs-color-light !default;
$fs-color-text-inv-darken: $fs-color-white !default;

// Colors: Borders

$fs-color-border: $fs-color-trans-lighter !default;
$fs-color-border-active: $fs-color-trans-light !default;

$fs-color-border-inv: $fs-color-black !default;
$fs-color-border-inv-active: $fs-color-black !default;

// Colors: Background

$fs-color-bg-white: $fs-color-white !default;
$fs-color-bg-light: $fs-color-lightest !default;
$fs-color-bg-dark: $fs-color-darker !default;
$fs-color-bg-black: $fs-color-black !default;

$fs-color-bg-content: $fs-color-bg-white !default;

$fs-color-bg-highlight: #fcf8e3 !default;

// Colors: Vectors

$fs-color-svg: $fs-color-greyer !default;
$fs-color-svg-hover: $fs-color-dark !default;

$fs-color-svg-inv: $fs-color-light !default;
$fs-color-svg-inv-hover: $fs-color-white !default;

//
// Element Spacing (general base)
//

$fs-element-spacing: 30px !default;
$fs-element-margin: $fs-element-spacing 0 !default;

$fs-tight-element-spacing: 24px !default;
$fs-tight-element-margin: 0 0 $fs-tight-element-spacing 0 !default;

//
// Z-Index (top-level)
//

$fs-z-index-modal: 100000 !default;
$fs-z-index-loader: $fs-z-index-modal - 10 !default;
$fs-z-index-tooltip: $fs-z-index-modal + 10 !default;

// ==========================================================================
// Extras
// ==========================================================================

//
// Helpers
//

// Helpers: Borders

$fs-border-utils: (
  xs: (
    width: 1px,
    style: solid,
    color: $fs-color-lighter
  ),
  sm: (
    width: 2px,
    style: solid,
    color: $fs-color-lighter
  ),
  md: (
    width: 5px,
    style: solid,
    color: $fs-color-lighter
  ),
  lg: (
    width: 10px,
    style: solid,
    color: $fs-color-lighter
  ),
  xl: (
    width: 15px,
    style: solid,
    color: $fs-color-lighter
  )
) !default;

// ==========================================================================
// Core Elements
// ==========================================================================

//
// Animations
//

$fs-transition-fade: opacity 0.2s linear !default;

//
// Colors
//

// Colors: Branding

$fs-branding-colors: (
  primary: (
    base: $fs-color-darker,
    contrast: $fs-color-text-inv-base
  ),
  secondary: (
    base: #2ea3f2,
    contrast: $fs-color-text-inv-base
  )
) !default;

// Colors: Contextual

$fs-contextual-colors: (
  success: (
    base: #dff0d8,
    contrast: #3c763d
  ),
  info: (
    base: #d9edf7,
    contrast: #31708f
  ),
  warning: (
    base: #fcf8e3,
    contrast: #8a6d3b
  ),
  danger: (
    base: #f2dede,
    contrast: #a94442
  )
) !default;

//
// Scaffolding
//

$fs-body-bg-color: $fs-color-lightest !default;

//
// Typography
//

// Typography: Paragraphs

$fs-paragraph-spacing: $fs-tight-element-spacing !default;
$fs-paragraph-margin: $fs-tight-element-margin !default;

// Typography: Headings

$fs-heading-font-family: $fs-font-family-base !default;
$fs-heading-font-weight: $fs-font-weight-bold !default;
$fs-heading-letter-spacing: 0 !default;
$fs-heading-line-height: 1.2 !default;
$fs-heading-margin: $fs-element-spacing 0 $fs-tight-element-spacing 0 !default;
$fs-heading-text-transform: none !default;

$fs-headings: (
  h1: (
    base: 2.75rem,
    mobile: 28px
  ),
  h2: (
    base: 2.25rem,
    mobile: 22px
  ),
  h3: (
    base: 1.75rem,
    mobile: 20px
  ),
  h4: (
    base: 1.5rem,
    mobile: 18px
  ),
  h5: (
    base: 1.25rem,
    mobile: 17px
  ),
  h6: (
    base: 1rem,
    mobile: $fs-font-size-base
  )
) !default;

// Typography: Large Headings

$fs-large-heading-font-weight: $fs-font-weight-bold !default;
$fs-large-heading-letter-spacing: 1px !default;
$fs-large-heading-line-height: $fs-heading-line-height !default;
$fs-large-heading-margin: $fs-tight-element-margin !default;
$fs-heading-text-transform-lg: uppercase !default;

$fs-large-headings: (
  lg: (
    base: 3rem,
    mobile: 28px// Match mobile <h1>.
  ),
  xl: (
    base: 4rem,
    mobile: 30px
  ),
  xxl: (
    base: 5rem,
    mobile: 32px
  ),
  xxxl: (
    base: 6rem,
    mobile: 34px
  )
) !default;

// Typography: Small Headings

$fs-small-heading-font-weight: $fs-font-weight-bold !default;
$fs-small-heading-letter-spacing: 1px !default;
$fs-small-heading-line-height: 1.4 !default;
$fs-small-heading-margin: $fs-tight-element-margin !default;
$fs-small-heading-text-transform: uppercase !default;

$fs-small-headings: (
  sm: (
    base: $fs-font-size-base,
    mobile: $fs-font-size-base
  ),
  xs: (
    base: $fs-font-size-md,
    mobile: $fs-font-size-md
  ),
  xxs: (
    base: $fs-font-size-sm,
    mobile: $fs-font-size-sm
  ),
  xxxs: (
    base: $fs-font-size-xs,
    mobile: $fs-font-size-xs
  )
) !default;

// Typography: Heading Subtitles

$fs-heading-subtitle-font-size: 0.45em !default;
$fs-heading-subtitle-letter-spacing: 0 !default;
$fs-heading-subtitle-text-transform: none !default;
$fs-smaller-heading-subtitle-font-size: $fs-font-size-xxs !default; // h3, h4, h5, h6

// Typography: Heading Underlines

$fs-heading-underline-w: 75px !default;
$fs-heading-underline-h: 2px !default;

// Typography: Links

$fs-link-color: #428bca !default;
$fs-link-color-hover: #2a6496 !default;

// Typography: Lead Text

$fs-lead-font-size: $fs-font-size-lg !default;
$fs-lead-line-height: 1.4 !default;
$fs-lead-margin: $fs-element-margin !default;

// Typography: <small> and <big>

$fs-small-elem-font-size: 0.8em !default;
$fs-big-elem-font-size: 1.25em !default;

// Typography: <pre> and <code>

$fs-pre-font-size: $fs-font-size-md !default;
$fs-code-font-size: $fs-font-size-sm !default;
$fs-code-bg-color: $fs-color-bg-light !default;
$fs-code-bg-color-inv: $fs-color-bg-black !default;

// Typography: <kbd>

$fs-kbd-bg-color: $fs-color-bg-dark !default;

// Typography: <address>

$fs-address-font-style: normal !default;

//
// Grid
//

$fs-column-gutters: 30px !default;
$fs-column-margin: $fs-element-spacing !default;

//
// Lists
//

$fs-list-margin: $fs-tight-element-margin !default;
$fs-list-padding: 40px !default;

//
// Forms
//

$fs-form-margin: $fs-element-margin !default;

$fs-field-border-color: $fs-color-border !default;
$fs-field-border-color-active: $fs-color-border-active !default;
$fs-field-border-color-inv: $fs-color-border !default;
$fs-field-border-color-inv-active: $fs-color-border-active !default;

$fs-field-bg-color: rgba($fs-color-white, 0.8) !default;
$fs-field-bg-color-active: $fs-field-bg-color !default;
$fs-field-bg-color-inv: transparent !default;
$fs-field-bg-color-inv-active: $fs-field-bg-color-inv !default;

$fs-field-margin: 0 0 ($fs-element-spacing / 2) 0 !default;

$fs-field-base-font-size: $fs-font-size-sm !default;
$fs-field-base-line-height: $fs-font-size-base !default;
$fs-field-base-padding: 18px !default;
$fs-field-base-height: 50px !default;

$fs-field-border-width: 1px !default;
$fs-field-radius: 0;

$fs-color-text-placeholder: lighten($fs-color-text-base, 40%) !default;
$fs-color-text-inv-placeholder: rgba($fs-color-text-inv-base, 0.4) !default;

$fs-field-selector: 'input[type=date],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea,select' !default;

// Field Sizes
// Note: All calculated line height values must be an EVEN number.

$fs-field-sizes: (
  xs: (
    font-size: $fs-font-size-xxs,
    height: 32px,
    line-height: $fs-font-size-xxs + 2,
    padding: 10px
  ),
  sm: (
    font-size: $fs-font-size-xs,
    height: 38px,
    line-height: $fs-font-size-xs + 3,
    padding: 12px
  ),
  lg: (
    font-size: $fs-font-size-md,
    height: 56px,
    line-height: $fs-font-size-md + 3,
    padding: 22px
  ),
  xl: (
    font-size: $fs-font-size-base,
    height: 60px,
    line-height: $fs-font-size-base + 2,
    padding: 24px
  ),
  xxl: (
    font-size: $fs-font-size-lg,
    height: 64px,
    line-height: $fs-font-size-lg + 6,
    padding: 26px
  ),
  xxxl: (
    font-size: $fs-font-size-xl,
    height: 76px,
    line-height: $fs-font-size-xl + 6,
    padding: 28px
  )
) !default;

// Forms: Legends and Labels

$fs-field-legend-font-size: $fs-font-size-base !default;
$fs-field-legend-margin: 0 0 ($fs-element-spacing / 2) 0 !default;

$fs-field-label-font-size: $fs-field-base-font-size !default;
$fs-field-label-letter-spacing: 1px !default;
$fs-field-label-margin: 0 4px ($fs-element-spacing / 2) 4px !default;

$fs-field-help-font-size: $fs-small-elem-font-size !default;
$fs-field-help-margin: $fs-field-label-margin !default;

// Forms: Field Groups and Fieldsets

$fs-field-group-margin: 0 4px !default;
$fs-fieldset-margin: $fs-element-margin !default;

//
// Buttons
//

$fs-btn-bg-color: darken($fs-color-bg-light, 2%) !default;

$fs-btn-base-font-size: $fs-font-size-xxxs !default;
$fs-btn-base-height: $fs-field-base-height !default;
$fs-btn-base-letter-spacing: 0.12em !default;
$fs-btn-base-line-height: $fs-field-base-line-height !default;
$fs-btn-base-padding: $fs-field-base-padding + 4 !default;

$fs-btn-border-width: 2px !default; // Transparent on standard .btn
$fs-btn-font-weight: $fs-font-weight-bold !default;
$fs-btn-text-transform: uppercase !default;
$fs-btn-transition: background-color 0.2s ease-out !default;

$fs-btn-selector: '.btn, [type=submit]' !default;

// Buttons: Sizes

$fs-btn-sizes: (
  xs: (
    font-size: 10px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 10px,
    height: fs-map-deep-get($fs-field-sizes, xs, height)
  ),
  sm: (
    font-size: 10px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 15px,
    height: fs-map-deep-get($fs-field-sizes, sm, height)
  ),
  lg: (
    font-size: 12px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 30px,
    height: fs-map-deep-get($fs-field-sizes, lg, height)
  ),
  xl: (
    font-size: 14px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 40px,
    height: fs-map-deep-get($fs-field-sizes, xl, height)
  ),
  xxl: (
    font-size: 15px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 50px,
    height: fs-map-deep-get($fs-field-sizes, xxl, height)
  ),
  xxxl: (
    font-size: 16px,
    letter-spacing: $fs-btn-base-letter-spacing,
    line-height: $fs-btn-base-line-height,
    padding: 64px,
    height: fs-map-deep-get($fs-field-sizes, xxxl, height)
  )
) !default;

// Buttons: Groups

$fs-btn-group-btn-margin: 2px !default;
$fs-btn-group-margin: $fs-tight-element-spacing (-$fs-btn-group-btn-margin) !default;
$fs-pagination-margin: $fs-element-margin !default;

//
// Media
//

$fs-figure-margin: $fs-tight-element-margin !default;

// Media: Captions

$fs-caption-bg-color: $fs-color-bg-light !default;
$fs-caption-bg-color-inv: $fs-color-darkest !default;
$fs-caption-font-size: $fs-font-size-sm !default;
$fs-caption-line-height: 1.4 !default;
$fs-caption-padding: 20px !default;

$fs-gallery-caption-font-size: $fs-font-size-xxs !default;
$fs-gallery-caption-padding: 15px !default;

// Media: Embeds

$fs-embed-default-ratio: 16 9 !default;

$fs-embed-ratios: (
  academy: 4 3,
  widescreen: 16 9,
  ultrawide: 21 9
) !default;

$fs-embed-margin: $fs-tight-element-margin !default;

// Media: Thumbnail Links

$fs-thumb-link-margin: $fs-tight-element-margin !default;

$fs-thumb-link-icon-size: 20px !default;
$fs-thumb-link-icon-w: $fs-thumb-link-icon-size * 4 !default;
$fs-thumb-link-icon-h: $fs-thumb-link-icon-size * 4 !default;
$fs-thumb-link-icon-radius: 100% !default;

$fs-thumb-link-icon-color: fs-map-deep-get($fs-branding-colors, primary, contrast) !default;
$fs-thumb-link-icon-bg-color: fs-map-deep-get($fs-branding-colors, primary, base) !default;

// Media: Gallery

$fs-gallery-gutters: 10px !default;
$fs-gallery-thumb-link-icon-size: 18px !default;
$fs-gallery-thumb-link-icon-w: $fs-gallery-thumb-link-icon-size * 3 !default;
$fs-gallery-thumb-link-icon-h: $fs-gallery-thumb-link-icon-size * 3 !default;

//
// Quotes
//

$fs-quote-font-size: 1.3rem !default;
$fs-quote-font-style: italic !default;
$fs-quote-line-height: 1.4 !default;
$fs-quote-margin: 40px 30px !default;
$fs-quote-text-transform: none !default;

$fs-cite-font-size: $fs-font-size-xxs !default;
$fs-font-lh-cite: 1.4 !default; // ...

//
// Tables
//

$fs-table-bg: transparent !default;
$fs-table-inv-bg: $fs-color-bg-dark !default;

$fs-table-bg-accent: rgba($fs-color-black, 0.025) !default;
$fs-table-bg-inv-accent: rgba($fs-color-black, 0.2) !default;
$fs-table-bg-hover: $fs-table-bg-accent !default;
$fs-table-bg-inv-hover: $fs-table-bg-inv-accent !default;
$fs-table-bg-active: $fs-color-light !default;

$fs-table-border-width: 1px !default;
$fs-table-border-color: $fs-color-lighter !default;
$fs-table-border-inv-color: $fs-color-darkest !default;

$fs-table-margin: $fs-element-margin !default;

$fs-table-cell-padding: 0.75rem !default;

// Tables: Condensed Tables

$fs-table-sm-cell-padding: 0.5rem !default;
$fs-table-sm-font-size: $fs-font-size-sm !default;

//
// Utilities
//

// ==========================================================================
// Block Types
// ==========================================================================

//
// Alert
//

$fs-alert-font-size: 0.9375rem !default;
$fs-alert-margin: $fs-element-margin !default;
$fs-alert-padding: 15px !default;

//
// Background
//

$fs-bg-z-index-base: 0 !default;

//
// Breadcrumb
//

$fs-breadcrumb-font-size: $fs-font-size-sm !default;
$fs-breadcrumb-padding: 20px !default;

//
// Button
//

// Button: Loading Animation

$fs-btn-loading-gradient-size: 20px;
$fs-btn-loading-animation-duration: 1s;

// Button: Close Buttons

$fs-btn-close: (
  sm: 20px,
  md: 32px,
  lg: 44px,
  xl: 56px
) !default;

// Button: Play Buttons

$fs-btn-play: (
  sm: 60px,
  md: 80px,
  lg: 110px,
  xl: 150px
) !default;

//
// Divider
//

$fs-hr-bg-color: $fs-color-trans-lighter !default;
$fs-hr-bg-color-inv: rgba($fs-color-bg-black, 0.8) !default;

$fs-divider-height: 4px !default;
$fs-divider-margin: $fs-element-spacing !default;
$fs-divider-radius: 2px !default;

$fs-divider-sizes: (
  xs: 75px,
  sm: 25%,
  md: 50%,
  lg: 75%
) !default;

//
// Label (inline)
//

$fs-inline-label-bg-color: $fs-color-greyer !default;
$fs-inline-label-font-size: $fs-font-size-micro !default;
$fs-inline-label-padding: 6px 10px !default;
$fs-inline-label-text-transform: $fs-btn-text-transform !default;

//
// Loader
//

$fs-loader-icon-size: 14px !default;
$fs-loader-icon-bdr-size: 3px !default;
$fs-loader-icon-color: $fs-color-white !default;

$fs-loader-color: rgba($fs-color-black, 0.25) !default;
$fs-loader-radius: 2px !default;
$fs-loader-shadow: 0 1px 2px rgba($fs-color-black, 0.1) !default;
$fs-loader-padding: 20px !default;
$fs-loader-gutter: 9px !default;

$fs-loader-width: ($fs-loader-padding * 2) + ($fs-loader-gutter * 2) + ($fs-loader-icon-size * 3) !default;
$fs-loader-height: $fs-loader-width / 2 !default;

//
// Menu
//

$fs-menu-bar-btn-font-size: $fs-font-size-sm !default;
$fs-menu-bar-btn-font-weight: $fs-font-weight-base !default;
$fs-menu-bar-btn-letter-spacing: 0 !default;
$fs-menu-bar-btn-text-transform: none !default;

// Menu: Submenu

$fs-submenu-padding: 12px !default;

$fs-submenu-btn-font-size: $fs-btn-base-font-size !default;
$fs-submenu-btn-font-weight: $fs-btn-font-weight !default;
$fs-submenu-btn-letter-spacing: $fs-btn-base-letter-spacing !default;
$fs-submenu-btn-text-transform: $fs-btn-text-transform !default;

// Menu: Submenu Tabs

$fs-tabs-font-size: $fs-font-size-sm !default;

$fs-tabs-border-width: 1px !default;
$fs-tabs-border-color: $fs-color-border !default;
$fs-tabs-border-inv-color: $fs-color-border-inv !default;

$fs-tabs-bg: $fs-color-bg-light !default;
$fs-tabs-inv-bg: rgba($fs-color-black, 0.2) !default;

$fs-tabs-hover-bg: darken($fs-tabs-bg, 4%) !default;
$fs-tabs-hover-inv-bg: rgba($fs-color-black, 0.5) !default;

$fs-tabs-active-bg: $fs-color-bg-white !default;
$fs-tabs-active-inv-bg: $fs-color-bg-dark !default;

$fs-tabs-padding: 14px 18px !default;

// Menu: Submenu Pills

$fs-pills-font-size: $fs-font-size-xxs !default;

$fs-pills-border-width: 2px !default;
$fs-pills-border-color: $fs-color-border !default;
$fs-pills-border-inv-color: $fs-color-border-inv !default;

$fs-pills-bg: transparent !default;

$fs-pills-hover-bg: $fs-tabs-hover-bg !default;
$fs-pills-hover-inv-bg: $fs-tabs-hover-inv-bg !default;

$fs-pills-active-bg: fs-map-deep-get($fs-branding-colors, primary, base) !default;
$fs-pills-active-text: fs-map-deep-get($fs-branding-colors, primary, contrast) !default;

$fs-pills-spacing: 2px !default;
$fs-pills-padding: 10px 14px !default;

$fs-pills-flyout-bg: $fs-color-bg-white !default;
$fs-pills-flyout-inv-bg: $fs-color-bg-dark !default;

// Menu: General Flyout Menus

$fs-dropdown-font-size: $fs-font-size-xs !default;
$fs-dropdown-vert-spacing: 0.85em !default;
$fs-dropdown-horz-spacing: 20px !default;
$fs-dropdown-width: 200px !default;
$fs-dropdown-shadow: 0 2px 5px rgba($fs-color-black, 0.05) !default;

// Menu: Mega Menus

$fs-mega-menu-padding: 24px 10px !default;

//
// Mobile Menu
//

$fs-mobile-menu-bar-btn-font-size: $fs-font-size-sm !default;
$fs-mobile-menu-bar-btn-font-weight: $fs-menu-bar-btn-font-weight !default;
$fs-mobile-menu-bar-btn-letter-spacing: $fs-menu-bar-btn-letter-spacing !default;
$fs-mobile-menu-bar-btn-text-transform: $fs-menu-bar-btn-text-transform !default;

//
// Modal
//

// Modal: General

$fs-modal-margin: $fs-element-spacing auto !default;
$fs-modal-overlay-color: $fs-color-black !default;
$fs-modal-overlay-opacity: 0.9 !default;
$fs-modal-shadow: 0 0 20px rgba($fs-color-black, 0.4) !default;

$fs-mobile-modal-margin: 0 auto !default;

$fs-modal-caption-text-color: $fs-color-text-inv-base !default;
$fs-modal-caption-font-size: $fs-font-size-sm !default;
$fs-modal-caption-spacing: 4px !default;

$fs-modal-controls-text-color: $fs-color-text-inv-lighten !default;
$fs-modal-controls-text-color-hover: $fs-color-text-inv-base !default;

$fs-modal-close-btn-size: 14px !default;

$fs-modal-arrow-btn-size: 40px !default;
$fs-modal-arrow-btn-img-size: 34px 38px !default;

// Modal: Background Overlay

$fs-modal-bg-padding: 10px !default;
$fs-mobile-modal-bg-padding: 6px !default;

// Modal: Iframes / Video

$fs-modal-iframe-bg: $fs-color-black !default;
$fs-modal-iframe-spacing: 40px !default;
$fs-modal-iframe-width: 900px !default;
$fs-modal-iframe-ratio: 9/16 !default;

// Modal: Images

$fs-modal-img-bg: $fs-color-black !default;
$fs-modal-img-spacing: 50px !default;

// Modal: Inline Content

$fs-modal-content-border-width: 1px !default;
$fs-modal-content-border-color: rgba($fs-color-black, 0.5) !default;

$fs-modal-header-border-width: 1px !default;
$fs-modal-header-border-color: $fs-color-border !default;

// Modal: Sizes
// 1. `xs` always used for mobile.
// 2. padding-content and padding-header are used for top/bottom
// padding only.

$fs-modal-sizes: (
  xs: (
    font-size: $fs-font-size-base,
    padding-content: 30px,
    padding-header: 20px,
    padding-horz: 40px,
    width: 100%
  ),
  sm: (
    font-size: $fs-font-size-sm,
    padding-content: 20px,
    padding-header: 15px,
    padding-horz: 15px,
    width: 300px
  ),
  md: (
    font-size: $fs-font-size-base,
    padding-content: 30px,
    padding-header: 20px,
    padding-horz: 40px,
    width: 600px
  ),
  lg: (
    font-size: $fs-font-size-base,
    padding-content: 50px,
    padding-header: 30px,
    padding-horz: 70px,
    width: 900px
  )
) !default;

// Search Modal

$fs-modal-search-border-color: fs-map-deep-get($fs-branding-colors, secondary, base) !default;

//
// Progress Bar
//

$fs-progress-bar-bg: darken($fs-color-bg-light, 2%) !default;
$fs-progress-bar-font-size: $fs-font-size-xs !default;
$fs-progress-margin: $fs-element-margin !default;
$fs-progress-bar-height: 6px !default;
$fs-progress-bar-radius: 2px !default;

$fs-progress-bar-label-spacing: 2.15em !default;

//
// Slider
//

$fs-slider-margin: $fs-element-margin !default;

$fs-slider-loading-height: 200px !default;
$fs-slider-loading-color: $fs-color-bg-light !default;

$fs-slider-nav-bottom-pos: 40px !default;
$fs-slider-nav-gallery-bottom-pos: 40px !default;
$fs-slider-nav-block-bottom-pos: 10px !default;
$fs-slider-nav-btn-size: 12px !default;
$fs-slider-nav-z-index: 2 !default;

$fs-slider-caption-font-size: $fs-font-size-md !default;
$fs-slider-caption-margin: 10px 0 !default;
$fs-slider-caption-padding: 30px 0 !default;
$fs-slider-caption-shadow: 0 1px 2px rgba($fs-color-black, 0.7) !default;
$fs-slider-caption-inv-shadow: 0 1px 1px rgba($fs-color-white, 0.8) !default;
$fs-slider-caption-z-index: 1 !default;

$fs-slider-arrow-bg: rgba($fs-color-black, 0.5) !default;
$fs-slider-arrow-hover-bg: rgba($fs-color-black, 0.7) !default;
$fs-slider-arrow-w: 50px !default;
$fs-slider-arrow-h: 80px !default;
$fs-slider-arrow-radius: 4px !default;
$fs-slider-arrow-icon-size: 20px 22px !default;

$fs-slider-arrow-mini-w: 24px !default;
$fs-slider-arrow-mini-h: 24px !default;
$fs-slider-arrow-mini-icon-size: 12px 14px !default;

$fs-slider-thumbs: (
  sm: 50px,
  md: 75px,
  lg: 100px,
  xl: 125px
) !default;

$fs-slider-thumb-gutters: 4px !default;

$fs-slider-gallery-bg-color: $fs-color-darkest !default;
$fs-slider-gallery-height: (400px, 300px, 200px, 150px) !default;

//
// Tabbed
//

$fs-tabbed-margin: $fs-element-margin !default;

$fs-tab-content-border-width: $fs-tabs-border-width !default;
$fs-tab-content-border-color: $fs-tabs-border-color !default;
$fs-tab-content-border-inv-color: $fs-tabs-border-inv-color !default;

$fs-tab-content-bg: $fs-tabs-active-bg !default;
$fs-tab-content-inv-bg: $fs-tabs-active-inv-bg !default;

$fs-tab-content-padding: 30px !default;

//
// Testimonial
//

$fs-testimonial-margin: $fs-element-margin !default;
$fs-testimonial-img-radius: 100% !default;

// Testimonial: Small

$fs-testimonial-sm-radius: 2px !default;
$fs-testimonial-sm-spacing: 30px 35px !default;
$fs-testimonial-sm-img: 50px !default;
$fs-testimonial-sm-img-spacing: 15px !default;
$fs-testimonial-sm-triangle: 5px !default;
$fs-testimonial-sm-font-size: $fs-font-size-sm !default;

// Testimonial: Medium

$fs-testimonial-md-radius: 2px !default;
$fs-testimonial-md-spacing: 35px 40px !default;
$fs-testimonial-md-img: 75px !default;
$fs-testimonial-md-triangle: 15px !default;
$fs-testimonial-md-font-size: $fs-font-size-base !default;

// Testimonial: Large

$fs-testimonial-lg-img: 75px !default;
$fs-testimonial-lg-spacing: 0 20px !default;
$fs-testimonial-lg-font-size: $fs-font-size-xl + 4px !default;

//
// Toggle
//

$fs-toggle-border-width: 1px !default;
$fs-toggle-border-color: $fs-color-border !default;
$fs-toggle-border-inv-color: $fs-color-border-inv !default;

$fs-toggle-margin: $fs-element-margin !default;
$fs-toggle-vert-space: 24px !default;
$fs-toggle-horz-space: 10px !default;

$fs-toggle-icon-size: $fs-font-size-base !default;
$fs-toggle-icon-buffer: 4px !default;

$fs-toggle-group-margin: $fs-toggle-margin !default;

//
// Tooltip
//

$fs-tooltip-font-size: $fs-font-size-xxs !default;
$fs-tooltip-opacity: 1 !default;
$fs-tooltip-arrow-width: 5px !default;
$fs-tooltip-max-width: 200px !default;
$fs-tooltip-radius: 1px !default;
$fs-tooltip-padding: 10px 14px !default;

$fs-tooltip-bg: fs-map-deep-get($fs-branding-colors, secondary, base) !default;
$fs-tooltip-text: fs-map-deep-get($fs-branding-colors, secondary, contrast) !default;

//
// Widget
//

$fs-widget-bg-color: $fs-color-bg-content !default;
$fs-widget-font-size: $fs-font-size-sm !default;
$fs-widget-margin: $fs-element-margin !default;
$fs-widget-padding: 30px !default;

// Widget: Default

$fs-widget-default-title-size: fs-em(18px, $fs-widget-font-size) !default;
$fs-widget-default-sm-title-size: fs-em(15px, $fs-widget-font-size) !default;

// Widget: Classic Panel

$fs-widget-panel-classic-title-size: fs-em(16px, $fs-widget-font-size) !default;
$fs-widget-panel-classic-sm-title-size: fs-em(15px, $fs-widget-font-size) !default;

$fs-widget-classic-panel-title-bg-color: darken($fs-color-lightest, 2%) !default;

// Widget: Modern Panel

$fs-widget-panel-modern-title-size: fs-em(15px, $fs-widget-font-size) !default;
$fs-widget-panel-modern-sm-title-size: fs-em(13px, $fs-widget-font-size) !default;

// ==========================================================================
// Color Library
// ==========================================================================

$fs-library-colors: (
  asphalt: (
    base: #34495e,
    contrast: $fs-color-text-inv-base
  ),
  blue: (
    base: #00437f,
    contrast: $fs-color-text-inv-base
  ),
  black: (
    base: $fs-color-black,
    contrast: $fs-color-text-inv-base
  ),
  brown: (
    base: #825a2c,
    contrast: $fs-color-text-inv-base
  ),
  concrete: (
    base: #95a5a6,
    contrast: $fs-color-text-inv-base
  ),
  cream: (
    base: #f5d76e,
    contrast: $fs-color-text-base
  ),
  crimson: (
    base: #c3272b,
    contrast: $fs-color-text-inv-base
  ),
  dark-blue: (
    base: #153f5a,
    contrast: $fs-color-text-inv-base
  ),
  dark-brown: (
    base: #572f05,
    contrast: $fs-color-text-inv-base
  ),
  dark-green: (
    base: #485a21,
    contrast: $fs-color-text-inv-base
  ),
  dark-purple: (
    base: #5d3f6a,
    contrast: $fs-color-text-inv-base
  ),
  forest: (
    base: #006442,
    contrast: $fs-color-text-inv-base
  ),
  green: (
    base: #26a65b,
    contrast: $fs-color-text-inv-base
  ),
  jungle: (
    base: #36b3a8,
    contrast: $fs-color-text-inv-base
  ),
  mauve: (
    base: #7b726c,
    contrast: $fs-color-text-inv-base
  ),
  orange: (
    base: #ff9624,
    contrast: $fs-color-text-inv-base
  ),
  peach: (
    base: #f47983,
    contrast: $fs-color-text-inv-base
  ),
  pearl: (
    base: #bca89d,
    contrast: $fs-color-text-inv-base
  ),
  pink: (
    base: #de2e81,
    contrast: $fs-color-text-inv-base
  ),
  pomegranate: (
    base: #e74c3c,
    contrast: $fs-color-text-inv-base
  ),
  purple: (
    base: #78498e,
    contrast: $fs-color-text-inv-base
  ),
  red: (
    base: #8f1d21,
    contrast: $fs-color-text-inv-base
  ),
  royal: (
    base: #428bca,
    contrast: $fs-color-text-inv-base
  ),
  slate-grey: (
    base: #7f8d9c,
    contrast: $fs-color-text-inv-base
  ),
  silver: (
    base: #bdc3c7,
    contrast: $fs-color-text-inv-base
  ),
  steel-blue: (
    base: #4b77be,
    contrast: $fs-color-text-inv-base
  ),
  teal: (
    base: #008080,
    contrast: $fs-color-text-inv-base
  ),
  turquoise: (
    base: #36d7b7,
    contrast: $fs-color-text-inv-base
  ),
  yellow: (
    base: #ecc11b,
    contrast: $fs-color-text-base
  ),
  wheat: (
    base: #b4ad8b,
    contrast: $fs-color-text-inv-base
  ),
  white: (
    base: $fs-color-white,
    contrast: $fs-color-text-base
  )
) !default;
