// ==========================================================================
// Responsive Breakpoints
// ==========================================================================

$breakpoints : (
	xs								: 576px,
	sm								: 768px,
	md								: 992px,
	lg								: 1200px,
	xl								: 1600px
) !default;

// ==========================================================================
// Grid System
// ==========================================================================

$grid-gutters						: 30px !default; // @TODO multiple gutter sizes

// ==========================================================================
// Typography
// ==========================================================================

// Font Families

$font-fam-base						: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-fam-headings					: $font-fam-base !default;
$font-fam-code						: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace !default;

// Font Sizes

$font-size-xxxl						: 64px !default;
$font-size-xxl						: 40px !default;
$font-size-xl						: 24px !default;
$font-size-lg						: 20px !default;
$font-size-base 					: 16px !default;
$font-size-md						: $font-size-base - 1px !default; // 15px
$font-size-sm						: $font-size-base - 2px !default; // 14px
$font-size-xs						: $font-size-base - 3px !default; // 13px
$font-size-xxs						: $font-size-base - 4px !default; // 12px
$font-size-xxxs						: $font-size-base - 5px !default; // 11px
$font-size-micro					: $font-size-base - 6px !default; // 10px

// Font Size Usage

$font-size-headings : (
	h1 : (
		base						: 2.75rem,
		mobile						: 28px
	),
	h2 : (
		base						: 2.25rem,
		mobile						: 22px
	),
	h3 : (
		base						: 1.75rem,
		mobile						: 20px
	),
	h4 : (
		base						: 1.5rem,
		mobile						: 18px
	),
	h5 : (
		base						: 1.25rem,
		mobile						: 17px
	),
	h6 : (
		base						: 1rem,
		mobile						: $font-size-base
	)
) !default;

$font-size-headings-bigger : (
	lg : (
		base						: 3rem,
		mobile						: 28px // Match mobile <h1>.
	),
	xl : (
		base						: 4rem,
		mobile						: 30px
	),
	xxl : (
		base						: 5rem,
		mobile						: 32px
	),
	xxxl : (
		base						: 6rem,
		mobile						: 34px
	)
) !default;

$font-size-headings-smaller : (
	sm : (
		base						: $font-size-base,
		mobile						: $font-size-base
	),
	xs : (
		base						: $font-size-md,
		mobile						: $font-size-md
	),
	xxs : (
		base						: $font-size-sm,
		mobile						: $font-size-sm
	),
	xxxs : (
		base						: $font-size-xs,
		mobile						: $font-size-xs
	)
) !default;

$font-size-subtitle					: .45em !default;
$font-size-subtitle-sm				: $font-size-xxs !default;

$font-size-lead						: $font-size-lg !default;
$font-size-small					: .8em !default;
$font-size-big						: 1.25em !default;
$font-size-cite						: $font-size-xxs !default;
$font-size-code						: $font-size-sm !default;
$font-size-pre						: $font-size-md !default;
$font-size-caption					: $font-size-sm !default;
$font-size-caption-gallery			: $font-size-xxs !default;
$font-size-quote					: 1.3rem !default;
$font-size-alert					: 0.9375rem !default;
$font-size-btn						: $font-size-xxxs !default;
$font-size-menu-bar-btn				: $font-size-sm !default;
$font-size-submenu-btn				: $font-size-btn !default;
$font-size-tabs						: $font-size-sm !default;
$font-size-pills					: $font-size-xxs !default;
$font-size-mobile-menu-bar-btn		: $font-size-sm !default;
$font-size-dropdown					: $font-size-xs !default;
$font-size-field					: $font-size-sm !default;
$font-size-field-label				: $font-size-field !default;
$font-size-field-legend				: $font-size-base !default;
$font-size-field-help				: $font-size-small !default;
$font-size-breadcrumbs				: $font-size-sm !default;
$font-size-widget					: $font-size-sm !default;
$font-size-label					: $font-size-micro !default;
$font-size-caption					: $font-size-sm !default;
$font-size-slider-caption			: $font-size-md !default;
$font-size-progress					: $font-size-xs !default;
$font-size-tooltip					: $font-size-xxs !default;

// Font Line Heights

$font-lh-base 						: 1.6 !default;
$font-lh-caption					: 1.4 !default;
$font-lh-cite						: 1.4 !default;
$font-lh-heading 					: 1.2 !default;
$font-lh-heading-sm 				: 1.4 !default;
$font-lh-lead						: 1.4 !default;
$font-lh-quote						: 1.4 !default;
$font-lh-header-menu				: 1.25 !default;
$font-lh-header-menu-dropdown		: 1.4 !default;

// Font Style

$font-style-quote					: italic !default;
$font-style-address					: normal !default;

// Font Weights

$font-weight-base					: 300 !default;
$font-weight-bold					: bold !default;
$font-weight-heading				: 700 !default;
$font-weight-heading-lg				: 700 !default;
$font-weight-heading-sm				: 700 !default;
$font-weight-btn					: 500 !default;
$font-weight-menu-bar-btn			: $font-weight-base !default;
$font-weight-submenu-btn			: $font-weight-btn !default;
$font-weight-mobile-menu-bar-btn	: $font-weight-menu-bar-btn !default;

// Text Transform

$font-transform-heading				: none !default;
$font-transform-heading-lg			: none !default;
$font-transform-heading-sm			: uppercase !default;
$font-transform-subtitles			: none !default;
$font-transform-quote				: none !default;
$font-transform-btn					: uppercase !default;
$font-transform-menu-bar-btn		: none !default;
$font-transform-submenu-btn			: $font-transform-btn !default;
$font-transform-mobile-menu-bar-btn	: $font-transform-menu-bar-btn !default;
$font-transform-label				: $font-transform-btn !default;

// Letter Spacing

$font-ls-heading					: 0 !default;
$font-ls-heading-lg					: 1px !default;
$font-ls-heading-sm					: 1px !default;
$font-ls-subtitles					: 0 !default;
$font-ls-btn						: .12em !default;
$font-ls-menu-bar-btn				: 0 !default;
$font-ls-submenu-btn				: $font-ls-btn !default;
$font-ls-mobile-menu-bar-btn		: $font-ls-menu-bar-btn !default;
$font-ls-label						: 1px !default;

// ==========================================================================
// Colors
// ==========================================================================

// Greyscale

$clr-white							: #fff !default;

$clr-light							: #ccc !default;
$clr-lighter						: #ddd !default;
$clr-lightest						: #f8f8f8 !default;

$clr-grey							: #999 !default;
$clr-greyer							: #666 !default;
$clr-greyest						: #444 !default;

$clr-dark							: #333 !default;
$clr-darker							: #1b1b1b !default;
$clr-darkest						: #101010 !default;

$clr-black							: #000 !default;

// Transparent Greyscale

$clr-trans-light 					: rgba(97, 97, 97, .4) !default;     // On white BG ≈ #ccc
$clr-trans-lighter 					: rgba(176, 176, 176, .4) !default;  // On white BG ≈ #ddd
$clr-trans-lightest 				: rgba(237, 237, 237, .4) !default;  // On white BG ≈ #f8f8f8

$clr-trans-grey						: rgba(110, 110, 110, .7) !default;  // On white BG ≈ #999
$clr-trans-greyer					: rgba(50, 50, 50, .7) !default;     // On white BG ≈ #666
$clr-trans-greyest					: rgba(0, 0, 0, .7) !default;        // On white BG ≈ #444

// Action Colors

$clr-highlight						: #fcf8e3 !default;

// Text Colors

$clr-text-base-fallback				: $clr-greyer !default;
$clr-text-base						: $clr-trans-greyer !default;
$clr-text-lighten					: $clr-trans-grey !default;
$clr-text-darken					: $clr-dark !default;

$clr-text-inv-base					: $clr-white !default;
$clr-text-inv-lighten				: $clr-light !default;
$clr-text-inv-darken				: $clr-white !default;

// Vector Colors

$clr-svg							: $clr-greyer !default;
$clr-svg-hover						: $clr-dark !default;

$clr-svg-inv						: $clr-light !default;
$clr-svg-inv-hover					: $clr-white !default;

// Links

$clr-link							: #428bca !default;
$clr-link-hover						: #2a6496 !default;

// Branding

$clr-branding : (
	primary : (
		base						: $clr-darker,
		contrast					: $clr-text-inv-base
	),
	secondary : (
		base						: #2ea3f2,
		contrast					: $clr-text-inv-base
	)
) !default;

// Color Library

$clr-library : (
	asphalt : (
		base 						: #34495e,
		contrast 					: $clr-text-inv-base
	),
	blue : (
		base 						: #00437f,
		contrast 					: $clr-text-inv-base
	),
	black : (
		base 						: $clr-black,
		contrast 					: $clr-text-inv-base
	),
	brown : (
		base 						: #825a2c,
		contrast 					: $clr-text-inv-base
	),
	concrete : (
		base 						: #95a5a6,
		contrast 					: $clr-text-inv-base
	),
	cream : (
		base 						: #f5d76e,
		contrast 					: $clr-text-base
	),
	crimson : (
		base 						: #c3272b,
		contrast 					: $clr-text-inv-base
	),
	dark-blue : (
		base 						: #153f5a,
		contrast 					: $clr-text-inv-base
	),
	dark-brown : (
		base 						: #572f05,
		contrast 					: $clr-text-inv-base
	),
	dark-green : (
		base 						: #485a21,
		contrast 					: $clr-text-inv-base
	),
	dark-purple : (
		base 						: #5d3f6A,
		contrast 					: $clr-text-inv-base
	),
	forest : (
		base 						: #006442,
		contrast 					: $clr-text-inv-base
	),
	green : (
		base 						: #26a65b,
		contrast 					: $clr-text-inv-base
	),
	jungle : (
		base 						: #36b3a8,
		contrast 					: $clr-text-inv-base
	),
	mauve : (
		base 						: #7b726c,
		contrast 					: $clr-text-inv-base
	),
	orange : (
		base 						: #ff9624,
		contrast 					: $clr-text-inv-base
	),
	peach : (
		base 						: #f47983,
		contrast 					: $clr-text-inv-base
	),
	pearl : (
		base 						: #bca89d,
		contrast 					: $clr-text-inv-base
	),
	pink : (
		base 						: #de2e81,
		contrast 					: $clr-text-inv-base
	),
	pomegranate : (
		base 						: #e74c3c,
		contrast 					: $clr-text-inv-base
	),
	purple : (
		base 						: #78498e,
		contrast 					: $clr-text-inv-base
	),
	red : (
		base 						: #8f1d21,
		contrast 					: $clr-text-inv-base
	),
	royal : (
		base 						: #428bca,
		contrast 					: $clr-text-inv-base
	),
	slate-grey : (
		base 						: #7f8d9c,
		contrast 					: $clr-text-inv-base
	),
	silver : (
		base 						: #bdc3c7,
		contrast 					: $clr-text-inv-base
	),
	steel-blue : (
		base 						: #4b77Be,
		contrast 					: $clr-text-inv-base
	),
	teal : (
		base 						: #008080,
		contrast 					: $clr-text-inv-base
	),
	turquoise : (
		base 						: #36d7b7,
		contrast 					: $clr-text-inv-base
	),
	yellow : (
		base 						: #ecc11B,
		contrast 					: $clr-text-base
	),
	wheat : (
		base 						: #b4ad8b,
		contrast 					: $clr-text-inv-base
	),
	white : (
		base 						: $clr-white,
		contrast 					: $clr-text-base
	)
) !default;

// Contextual

$clr-contextual : (
	success : (
		base						: #dff0d8,
		contrast					: #3c763d
	),
	info : (
		base						: #d9edf7,
		contrast					: #31708f
	),
	warning : (
		base						: $clr-highlight,
		contrast					: #8a6d3b
	),
	danger : (
		base						: #f2dede,
		contrast					: #a94442
	)
) !default;

// Border Colors

$clr-border							: $clr-trans-lighter !default;
$clr-border-active					: $clr-trans-light !default;

$clr-border-inv						: $clr-black !default;
$clr-border-inv-active				: $clr-black !default;

// Background Colors

$clr-bg-white						: $clr-white !default;
$clr-bg-light						: $clr-lightest !default;
$clr-bg-dark						: $clr-dark !default;
$clr-bg-black						: $clr-black !default;

$clr-bg-content						: $clr-bg-white !default;
$clr-bg-inv-content					: $clr-bg-dark !default;

$clr-bg-body						: $clr-lightest !default;
$clr-bg-inv-body					: $clr-darkest !default;
$clr-bg-hr							: rgba($clr-bg-dark, 0.1) !default;
$clr-bg-code						: $clr-bg-light !default;
$clr-bg-inv-code					: $clr-bg-black !default;
$clr-bg-kbd							: $clr-bg-dark !default;
$clr-bg-btn							: darken($clr-bg-light, 2%) !default;
$clr-bg-field						: rgba($clr-white, 0.8) !default;
$clr-bg-inv-field					: transparent !default;
$clr-bg-widget						: $clr-bg-content !default;
$clr-bg-inv-widget					: $clr-bg-inv-content !default;
$clr-bg-label						: $clr-greyer !default;
$clr-bg-caption						: $clr-bg-light !default;
$clr-bg-inv-caption					: $clr-darkest !default;

// ==========================================================================
// Animations
// ==========================================================================

$transition-fade					: opacity .2s linear !default;

// ==========================================================================
// Utilities
// ==========================================================================

// Borders

$border-utils : (
	xs : (
		width						: 1px,
		style 						: solid,
		color						: $clr-lighter
	),
	sm : (
		width						: 2px,
		style 						: solid,
		color						: $clr-lighter
	),
	md : (
		width						: 5px,
		style 						: solid,
		color						: $clr-lighter
	),
	lg : (
		width						: 10px,
		style 						: solid,
		color						: $clr-lighter
	),
	xl : (
		width						: 15px,
		style 						: solid,
		color						: $clr-lighter
	)
) !default;

// ==========================================================================
// Spacing
// ==========================================================================

// General

$spacing-element					: 30px !default;
$spacing-paragraph					: 24px !default;

// Margins

$margin-element						: $spacing-element 0 !default;
$margin-paragraph					: 0 0 $spacing-paragraph 0 !default;

$margin-figure						: $margin-paragraph !default;
$margin-heading						: $spacing-element 0 $spacing-paragraph 0 !default;
$margin-heading-lg					: $margin-paragraph !default;
$margin-heading-sm					: $margin-paragraph !default;
$margin-column						: $spacing-element !default;
$margin-lead						: $margin-element !default;
$margin-list						: $margin-paragraph !default;
$margin-quote						: 40px 30px !default;
$margin-table						: $margin-element !default;
$margin-alert						: $margin-element !default;
$margin-btn-group-btn				: 2px !default;
$margin-btn-group					: $spacing-paragraph (-$margin-btn-group-btn) !default;
$margin-pagination					: $margin-element !default;
$margin-form						: $margin-element !default;
$margin-field						: 0 0 ($spacing-element / 2) 0 !default;
$margin-field-label					: 0 4px ($spacing-element / 2) 4px !default;
$margin-field-group					: 0 4px !default;
$margin-field-legend				: 0 0 ($spacing-element / 2) 0 !default;
$margin-field-help					: $margin-field-label !default;
$margin-fieldset					: $margin-element !default;
$margin-tabs						: $margin-element !default;
$margin-toggle						: $margin-element !default;
$margin-toggle-group				: $margin-toggle !default;
$margin-modal						: $spacing-element auto !default;
$margin-modal-mobile				: 0 auto !default;
$margin-widget						: $margin-element !default;
$margin-embed						: $margin-paragraph !default;
$margin-thumb						: $margin-paragraph !default;
$margin-slider						: $margin-element !default;
$margin-slider-caption-elem			: 10px 0 !default;
$margin-testimonial					: $margin-element !default;
$margin-progress					: $margin-element !default;

// Padding

$padding-list						: 40px !default;
$padding-alert						: 15px !default;
$padding-submenu					: 12px !default;
$padding-breadcrumbs				: 20px !default;
$padding-tabs						: 14px 18px !default;
$padding-pills						: 10px 14px !default;
$padding-tab-content				: 30px !default;
$padding-modal-bg					: 10px !default;
$padding-modal-bg-mobile			: 6px !default;
$padding-widget						: 30px !default;
$padding-label						: 6px 10px !default;
$padding-caption					: 20px !default;
$padding-caption-gallery			: 15px !default;
$padding-slider-caption				: 30px 0 !default;


// ==========================================================================
// Forms
// ==========================================================================

$field-base-height					: 50px !default;
$field-base-lh						: $font-size-base !default;
$field-base-padding					: 18px !default;

$field-border-width					: 1px !default;

$clr-text-placeholder				: lighten($clr-text-base, 40%) !default;
$clr-text-inv-placeholder			: rgba($clr-text-inv-base, 0.4) !default;

$field-selector						: "input[type=date],
									  input[type=datetime-local],
									  input[type=email],
									  input[type=month],
									  input[type=number],
									  input[type=password],
									  input[type=range],
									  input[type=search],
									  input[type=tel],
									  input[type=text],
									  input[type=time],
									  input[type=url],
									  input[type=week],
									  textarea,
									  select" !default;

// Field Sizes

$field-sizes : (
	xs : (
		font-size					: $font-size-xxs,
		height						: 32px,
		line-height					: $font-size-xxs + 2, // Must be even number.
		padding						: 10px
	),
	sm : (
		font-size					: $font-size-xs,
		height						: 38px,
		line-height					: $font-size-xs + 3, // Must be even number.
		padding						: 12px
	),
	lg : (
		font-size					: $font-size-md,
		height						: 56px,
		line-height					: $font-size-md + 3, // Must be even number.
		padding						: 22px
	),
	xl : (
		font-size					: $font-size-base,
		height						: 60px,
		line-height					: $font-size-base + 2, // Must be even number.
		padding						: 24px
	),
	xxl : (
		font-size					: $font-size-lg,
		height						: 64px,
		line-height					: $font-size-lg + 6, // Must be even number.
		padding						: 26px
	),
	xxxl : (
		font-size					: $font-size-xl,
		height						: 76px,
		line-height					: $font-size-xl + 6, // Must be even number.
		padding						: 28px
	)
) !default;

// ==========================================================================
// Buttons
// ==========================================================================

$btn-base-height					: $field-base-height !default;
$btn-base-lh						: $field-base-lh !default;
$btn-base-padding					: $field-base-padding + 4 !default;

$btn-transition						: background-color 0.2s ease-out !default;
$btn-border-width					: 2px !default; // Transparent on standard .btn

$btn-selector						: ".btn, [type=submit]" !default;

// Button Sizes

$btn-sizes : (
	xs : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 10px,
		height						: map-deep-get($field-sizes, xs, height)
	),
	sm : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 15px,
		height						: map-deep-get($field-sizes, sm, height)
	),
	lg : (
		font-size					: 12px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 30px,
		height						: map-deep-get($field-sizes, lg, height)
	),
	xl : (
		font-size					: 14px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 40px,
		height						: map-deep-get($field-sizes, xl, height)
	),
	xxl : (
		font-size					: 15px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 50px,
		height						: map-deep-get($field-sizes, xxl, height)
	),
	xxxl : (
		font-size					: 16px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 64px,
		height						: map-deep-get($field-sizes, xxxl, height)
	)
) !default;

// Close Buttons

$btn-close : (
	sm								: 20px,
	md								: 32px,
	lg								: 44px,
	xl								: 56px
) !default;

// Play Buttons

$btn-play : (
	sm								: 60px,
	md								: 80px,
	lg								: 110px,
	xl								: 150px
) !default;

// ==========================================================================
// Tables
// ==========================================================================

$table-cell-padding					: .75rem !default;

$table-bg							: transparent !default;
$table-inv-bg						: $clr-bg-dark !default;

$table-bg-accent					: rgba($clr-black, .025) !default;
$table-bg-inv-accent				: rgba($clr-black, .2) !default;
$table-bg-hover						: $table-bg-accent !default;
$table-bg-inv-hover					: $table-bg-inv-accent !default;
$table-bg-active					: $clr-light !default;

$table-border-width					: 1px !default;
$table-border-color					: $clr-lighter !default;
$table-border-inv-color				: $clr-darkest !default;

// Condensed Tables

$table-sm-cell-padding				: .5rem !default;
$table-sm-font-size					: $font-size-sm !default;

// ==========================================================================
// Menus
// ==========================================================================

// Tabs

$tabs-border-width					: 1px !default;
$tabs-border-color					: $clr-border !default;
$tabs-border-inv-color				: $clr-border-inv !default;

$tabs-bg							: $clr-bg-light !default;
$tabs-inv-bg						: rgba($clr-black, 0.2) !default;

$tabs-hover-bg						: darken($tabs-bg, 4%) !default;
$tabs-hover-inv-bg					: rgba($clr-black, 0.5) !default;

$tabs-active-bg						: $clr-bg-white !default;
$tabs-active-inv-bg					: $clr-bg-dark !default;

// Pills

$pills-border-width					: 2px !default;
$pills-border-color					: $clr-border !default;
$pills-border-inv-color				: $clr-border-inv !default;

$pills-bg							: transparent !default;

$pills-hover-bg						: $tabs-hover-bg !default;
$pills-hover-inv-bg					: $tabs-hover-inv-bg !default;

$pills-active-bg					: map-deep-get($clr-branding, primary, base) !default;
$pills-active-text					: map-deep-get($clr-branding, primary, contrast) !default;

$pills-spacing						: 2px !default;

$pills-flyout-bg					: $clr-bg-white !default;
$pills-flyout-inv-bg				: $clr-bg-dark !default;

// General flyout menus

$flyout-vert-spacing				: .85em !default;
$flyout-horz-spacing				: 20px !default;
$flyout-width						: 200px !default;
$flyout-shadow						: 0 2px 5px rgba($clr-black, 0.05) !default;

// Mega Menus

$mega-menu-padding					: 24px 10px !default;

// ==========================================================================
// Tabs and Toggles
// ==========================================================================

// Tabs

$tab-content-border-width			: $tabs-border-width !default;
$tab-content-border-color			: $tabs-border-color !default;
$tab-content-border-inv-color		: $tabs-border-inv-color !default;

$tab-content-bg						: $tabs-active-bg !default;
$tab-content-inv-bg					: $tabs-active-inv-bg !default;

// Toggles

$toggle-border-width				: 1px !default;
$toggle-border-color				: $clr-border !default;
$toggle-border-inv-color			: $clr-border-inv !default;

$toggle-vert-space					: 24px !default;
$toggle-horz-space					: 10px !default;

$toggle-icon-size					: $font-size-base !default;
$toggle-icon-buffer					: 4px !default;

// ==========================================================================
// Modal
// ==========================================================================

// General

$modal-overlay-color				: $clr-black !default;
$modal-overlay-opacity				: 0.9 !default;
$modal-shadow						: 0 0 20px rgba($clr-black, 0.4) !default;
$modal-z-index-base					: 100000 !default;

$modal-caption-text-color			: $clr-text-inv-base !default;
$modal-caption-font-size			: $font-size-sm !default;
$modal-caption-spacing				: 4px !default;

$modal-controls-text-color			: $clr-text-inv-lighten !default;
$modal-controls-text-color-hover	: $clr-text-inv-base !default;

$modal-close-btn-size				: 14px !default;

$modal-arrow-btn-size				: 40px !default;
$modal-arrow-btn-img-size			: 34px 38px !default;

// Iframes / Video

$modal-iframe-bg					: $clr-black !default;
$modal-iframe-spacing				: 40px !default;
$modal-iframe-width					: 900px !default;
$modal-iframe-ratio					: 9/16 !default;

// Images

$modal-img-bg						: $clr-black !default;
$modal-img-spacing					: 50px !default;

// Inline Content

$modal-content-border-width			: 1px !default;
$modal-content-border-color			: rgba($clr-black, 0.5) !default;

$modal-header-border-width			: 1px !default;
$modal-header-border-color			: $clr-border !default;
$modal-header-border-inv-color		: $clr-border-inv !default;

$modal-sizes : (
	xs : ( // Mobile viewport version for all sizes
		font-size					: $font-size-base,
		padding-content				: 30px, // top/bottom
		padding-header				: 20px, // top/bottom
		padding-horz				: 40px,
		width 						: 100%
	),
	sm : (
		font-size					: $font-size-sm,
		padding-content				: 20px, // top/bottom
		padding-header				: 15px, // top/bottom
		padding-horz				: 15px,
		width 						: 300px
	),
	md : (
		font-size					: $font-size-base,
		padding-content				: 30px, // top/bottom
		padding-header				: 20px, // top/bottom
		padding-horz				: 40px,
		width 						: 600px
	),
	lg : (
		font-size					: $font-size-base,
		padding-content				: 50px, // top/bottom
		padding-header				: 30px, // top/bottom
		padding-horz				: 70px,
		width 						: 900px
	)
) !default;

// Search Modal

$modal-search-border-clr			: map-deep-get($clr-branding, secondary, base) !default;

// ==========================================================================
// Widgets
// ==========================================================================

// Default

$widget-default-title-size			: em(18px, $font-size-widget) !default;
$widget-default-sm-title-size		: em(15px, $font-size-widget) !default;

// Classic Panel

$widget-panel-classic-title-size	: em(16px, $font-size-widget) !default;
$widget-panel-classic-sm-title-size	: em(15px, $font-size-widget) !default;

$widget-classic-panel-title-bg-clr	: darken($clr-lightest, 2%) !default;

// Modern Panel

$widget-panel-modern-title-size		: em(15px, $font-size-widget) !default;
$widget-panel-modern-sm-title-size	: em(13px, $font-size-widget) !default;

// ==========================================================================
// Media
// ==========================================================================

// Responsive Embeds

$embed-default-ratio				: 16 9 !default;

$embed-ratios : (
	academy							: 4 3,
	widescreen						: 16 9,
	ultrawide						: 21 9,
) !default;


// Thumbnail Links

$thumb-link-icon-size				: 20px !default;
$thumb-link-icon-w					: 4em !default;
$thumb-link-icon-h					: 4em !default;
$thumb-link-icon-radius				: 100% !default;

$thumb-link-icon-clr				: map-deep-get($clr-branding, primary, contrast) !default;
$thumb-link-icon-bg-clr				: map-deep-get($clr-branding, primary, base) !default;

// Gallery

$gallery-gutters					: 10px !default;
$gallery-thumb-link-icon-size		: 18px !default;
$gallery-thumb-link-icon-w			: 3em !default;
$gallery-thumb-link-icon-h			: 3em !default;

// ==========================================================================
// Sliders
// ==========================================================================

$slider-caption-z-index				: 1 !default;
$slider-nav-z-index					: 2 !default;

$slider-nav-bottom-pos				: 40px !default;
$slider-nav-gallery-bottom-pos		: 40px !default;
$slider-nav-block-bottom-pos		: 10px !default;
$slider-nav-btn-size				: 12px !default;

$slider-caption-shadow				: 0 1px 2px rgba($clr-black, 0.7) !default;
$slider-caption-inv-shadow			: 0 1px 1px rgba($clr-white, 0.8) !default;

$slider-arrow-bg					: rgba($clr-black, 0.5) !default;
$slider-arrow-hover-bg				: rgba($clr-black, 0.7) !default;
$slider-arrow-w						: 50px !default;
$slider-arrow-h						: 80px !default;
$slider-arrow-radius				: 4px !default;
$slider-arrow-icon-size				: 20px 22px !default;

$slider-arrow-mini-w				: 24px !default;
$slider-arrow-mini-h				: 24px !default;
$slider-arrow-mini-icon-size		: 12px 14px !default;

$slider-thumbs : (
	sm								: 50px,
	md								: 75px,
	lg								: 100px,
	xl								: 125px
) !default;

$slider-thumb-gutters				: 4px !default;

$slider-gallery-bg-clr				: $clr-darkest !default;
$slider-gallery-height				: (400px, 300px, 200px, 150px) !default;

// ==========================================================================
// Testimonials
// ==========================================================================

$testimonial-img-radius				: 100% !default;

// Small

$testimonial-sm-radius				: 2px !default;
$testimonial-sm-spacing				: 30px 35px !default;
$testimonial-sm-img					: 50px !default;
$testimonial-sm-img-spacing			: 15px !default;
$testimonial-sm-triangle			: 5px !default;
$testimonial-sm-font-size			: $font-size-sm !default;

// Medium

$testimonial-md-radius				: 2px !default;
$testimonial-md-spacing				: 35px 40px !default;
$testimonial-md-img					: 75px !default;
$testimonial-md-triangle			: 15px !default;
$testimonial-md-font-size			: $font-size-base !default;

// Large

$testimonial-lg-img					: 75px !default;
$testimonial-lg-spacing				: 0 20px !default;
$testimonial-lg-font-size			: $font-size-xl + 4px !default;

// ==========================================================================
// Progress Bars
// ==========================================================================

$progress-height					: 6px !default;
$progress-bg						: darken($clr-bg-light, 2%) !default;
$progress-inv-bg					: $clr-bg-black !default;
$progress-radius					: 2px !default;
$progress-label-spacing				: 2.15em !default;

// ==========================================================================
// Tooltips
// ==========================================================================

$tooltip-z-index					: $modal-z-index-base + 10 !default;
$tooltip-opacity					: 1 !default;
$tooltip-arrow-width				: 5px !default;
$tooltip-max-width					: 200px !default;
$tooltip-radius						: 1px;
$tooltip-padding					: 10px 14px;

$tooltip-bg							: map-deep-get($clr-branding, secondary, base);
$tooltip-text						: map-deep-get($clr-branding, secondary, contrast);
