// ==========================================================================
// Responsive Breakpoints
// ==========================================================================

$breakpoints						: xs, sm, md, lg, xl;
$breakpoint-xs 						: 576px;
$breakpoint-sm 						: 768px;
$breakpoint-md 						: 992px;
$breakpoint-lg						: 1200px;
$breakpoint-xl 						: 1600px;

// ==========================================================================
// Grid System
// ==========================================================================

$grid-gutters						: 30px;

// ==========================================================================
// Typography
// ==========================================================================

// Font Families

$font-fam-base						: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-fam-headings					: $font-fam-base;
$font-fam-code						: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

// Font Sizes

$font-size-xxxl						: 64px;
$font-size-xxl						: 40px;
$font-size-xl						: 24px;
$font-size-lg						: 20px;
$font-size-base 					: 16px;
$font-size-md						: $font-size-base - 1px; // 15px
$font-size-sm						: $font-size-base - 2px; // 14px
$font-size-xs						: $font-size-base - 3px; // 13px
$font-size-xxs						: $font-size-base - 4px; // 12px
$font-size-xxxs						: $font-size-base - 5px; // 11px
$font-size-micro					: $font-size-base - 6px; // 10px

// Font Size Usage

$font-size-headings : (
	h1 : (
		base						: 2.75rem,
		mobile						: 28px
	),
	h2 : (
		base						: 2.25rem,
		mobile						: 22px
	),
	h3 : (
		base						: 1.75rem,
		mobile						: 20px
	),
	h4 : (
		base						: 1.5rem,
		mobile						: 18px
	),
	h5 : (
		base						: 1.25rem,
		mobile						: 17px
	),
	h6 : (
		base						: 1rem,
		mobile						: $font-size-base
	)
);

$font-size-headings-bigger : (
	lg : (
		base						: 3rem,
		mobile						: 28px // Match mobile <h1>.
	),
	xl : (
		base						: 4rem,
		mobile						: 30px
	),
	xxl : (
		base						: 5rem,
		mobile						: 32px
	),
	xxxl : (
		base						: 6rem,
		mobile						: 34px
	)
);

$font-size-headings-smaller : (
	sm : (
		base						: $font-size-base,
		mobile						: $font-size-base
	),
	xs : (
		base						: $font-size-md,
		mobile						: $font-size-md
	),
	xxs : (
		base						: $font-size-sm,
		mobile						: $font-size-sm
	),
	xxxs : (
		base						: $font-size-xs,
		mobile						: $font-size-xs
	)
);

$font-size-subtitle					: .45em;
$font-size-subtitle-sm				: $font-size-xxs;

$font-size-lead						: $font-size-lg;
$font-size-small					: .8em;
$font-size-big						: 1.25em;
$font-size-cite						: $font-size-xxs;
$font-size-code						: $font-size-sm;
$font-size-pre						: $font-size-md;
$font-size-caption					: $font-size-sm;
$font-size-quote					: 1.3rem;
$font-size-alert					: 0.9375rem;
$font-size-btn						: $font-size-xxxs;
$font-size-menu-bar-btn				: $font-size-sm;
$font-size-submenu-btn				: $font-size-btn;
$font-size-tabs						: $font-size-sm;
$font-size-pills					: $font-size-xxs;
$font-size-mobile-menu-bar-btn		: $font-size-sm;
$font-size-dropdown					: $font-size-xs;
$font-size-field					: $font-size-sm;
$font-size-field-label				: $font-size-field;
$font-size-field-legend				: $font-size-base;
$font-size-field-help				: $font-size-small;
$font-size-breadcrumbs				: $font-size-sm;

// Font Line Heights

$font-lh-base 						: 1.6;
$font-lh-caption					: 1.4;
$font-lh-cite						: 1.4;
$font-lh-heading 					: 1.2;
$font-lh-heading-sm 				: 1.4;
$font-lh-lead						: 1.4;
$font-lh-quote						: 1.4;
$font-lh-header-menu				: 1.25;
$font-lh-header-menu-dropdown		: 1.4;

// Font Style

$font-style-quote					: italic;
$font-style-address					: normal;

// Font Weights

$font-weight-base					: 300;
$font-weight-bold					: bold;
$font-weight-heading				: 700;
$font-weight-heading-lg				: 700;
$font-weight-heading-sm				: 700;
$font-weight-btn					: 500;
$font-weight-menu-bar-btn			: $font-weight-base;
$font-weight-submenu-btn			: $font-weight-btn;
$font-weight-mobile-menu-bar-btn	: $font-weight-menu-bar-btn;

// Text Transform

$font-transform-heading				: none;
$font-transform-heading-lg			: none;
$font-transform-heading-sm			: uppercase;
$font-transform-subtitles			: none;
$font-transform-quote				: none;
$font-transform-btn					: uppercase;
$font-transform-menu-bar-btn		: none;
$font-transform-submenu-btn			: $font-transform-btn;
$font-transform-mobile-menu-bar-btn	: $font-transform-menu-bar-btn;

// Letter Spacing

$font-ls-heading					: 0;
$font-ls-heading-lg					: 1px;
$font-ls-heading-sm					: 1px;
$font-ls-subtitles					: 0;
$font-ls-btn						: .12em;
$font-ls-menu-bar-btn				: 0;
$font-ls-submenu-btn				: $font-ls-btn;
$font-ls-mobile-menu-bar-btn		: $font-ls-menu-bar-btn;

// ==========================================================================
// Colors
// ==========================================================================

// Greyscale

$clr-white							: #fff;

$clr-light							: #ccc;
$clr-lighter						: #ddd;
$clr-lightest						: #f8f8f8;

$clr-grey							: #999;
$clr-greyer							: #666;
$clr-greyest						: #444;

$clr-dark							: #333;
$clr-darker							: #1b1b1b;
$clr-darkest						: #101010;

$clr-black							: #000;

// Transparent Greyscale

$clr-trans-light 					: rgba(97, 97, 97, .4);     // On white BG ≈ #ccc
$clr-trans-lighter 					: rgba(176, 176, 176, .4);  // On white BG ≈ #ddd
$clr-trans-lightest 				: rgba(237, 237, 237, .4);  // On white BG ≈ #f8f8f8

$clr-trans-grey						: rgba(110, 110, 110, .7);  // On white BG ≈ #999
$clr-trans-greyer					: rgba(50, 50, 50, .7);     // On white BG ≈ #666
$clr-trans-greyest					: rgba(0, 0, 0, .7);        // On white BG ≈ #444

// Action Colors

$clr-highlight						: #fcf8e3;

// Text Colors

$clr-text-base-fallback				: $clr-greyer;
$clr-text-base						: $clr-trans-greyer;
$clr-text-lighten					: $clr-trans-grey;
$clr-text-darken					: $clr-dark;

$clr-text-inv-base					: $clr-white;
$clr-text-inv-lighten				: $clr-light;
$clr-text-inv-darken				: $clr-white;

// Vector Colors

$clr-svg							: $clr-greyer;
$clr-svg-hover						: $clr-dark;

$clr-svg-inv						: $clr-light;
$clr-svg-inv-hover					: $clr-white;

// Links

$clr-link							: #428bca;
$clr-link-hover						: #2a6496;

// Branding

$clr-branding : (
	primary : (
		base						: $clr-darker,
		contrast					: $clr-text-inv-base
	),
	secondary : (
		base						: #fec527,
		contrast					: $clr-text-inv-base
	)
);

// Color Library

$clr-library : (
	asphalt : (
		base 						: #34495e,
		contrast 					: $clr-text-inv-base
	),
	blue : (
		base 						: #00437f,
		contrast 					: $clr-text-inv-base
	),
	black : (
		base 						: $clr-black,
		contrast 					: $clr-text-inv-base
	),
	brown : (
		base 						: #825a2c,
		contrast 					: $clr-text-inv-base
	),
	concrete : (
		base 						: #95a5a6,
		contrast 					: $clr-text-inv-base
	),
	cream : (
		base 						: #f5d76e,
		contrast 					: $clr-text-base
	),
	crimson : (
		base 						: #c3272b,
		contrast 					: $clr-text-inv-base
	),
	dark_blue : (
		base 						: #153f5a,
		contrast 					: $clr-text-inv-base
	),
	dark_brown : (
		base 						: #572f05,
		contrast 					: $clr-text-inv-base
	),
	dark_green : (
		base 						: #485a21,
		contrast 					: $clr-text-inv-base
	),
	dark_purple : (
		base 						: #5d3f6A,
		contrast 					: $clr-text-inv-base
	),
	forest : (
		base 						: #006442,
		contrast 					: $clr-text-inv-base
	),
	green : (
		base 						: #26a65b,
		contrast 					: $clr-text-inv-base
	),
	jungle : (
		base 						: #36b3a8,
		contrast 					: $clr-text-inv-base
	),
	mauve : (
		base 						: #7b726c,
		contrast 					: $clr-text-inv-base
	),
	orange : (
		base 						: #ff9624,
		contrast 					: $clr-text-inv-base
	),
	peach : (
		base 						: #f47983,
		contrast 					: $clr-text-inv-base
	),
	pearl : (
		base 						: #bca89d,
		contrast 					: $clr-text-inv-base
	),
	pink : (
		base 						: #de2e81,
		contrast 					: $clr-text-inv-base
	),
	pomegranate : (
		base 						: #e74c3c,
		contrast 					: $clr-text-inv-base
	),
	purple : (
		base 						: #78498e,
		contrast 					: $clr-text-inv-base
	),
	red : (
		base 						: #8f1d21,
		contrast 					: $clr-text-inv-base
	),
	royal : (
		base 						: #428bca,
		contrast 					: $clr-text-inv-base
	),
	slate_grey : (
		base 						: #7f8d9c,
		contrast 					: $clr-text-inv-base
	),
	silver : (
		base 						: #bdc3c7,
		contrast 					: $clr-text-inv-base
	),
	steel_blue : (
		base 						: #4b77Be,
		contrast 					: $clr-text-inv-base
	),
	teal : (
		base 						: #008080,
		contrast 					: $clr-text-inv-base
	),
	turquoise : (
		base 						: #36d7b7,
		contrast 					: $clr-text-inv-base
	),
	yellow : (
		base 						: #ecc11B,
		contrast 					: $clr-text-base
	),
	wheat : (
		base 						: #b4ad8b,
		contrast 					: $clr-text-inv-base
	),
	white : (
		base 						: $clr-white,
		contrast 					: $clr-text-base
	)
);

// Contextual

$clr-contextual : (
	success : (
		base						: #dff0d8,
		contrast					: #3c763d
	),
	info : (
		base						: #d9edf7,
		contrast					: #31708f
	),
	warning : (
		base						: $clr-highlight,
		contrast					: #8a6d3b
	),
	danger : (
		base						: #f2dede,
		contrast					: #a94442
	)
);

// Border Colors

$clr-border							: $clr-trans-lighter;
$clr-border-active					: $clr-trans-light;

$clr-border-inv						: $clr-black;
$clr-border-inv-active				: $clr-black;

// Background Colors

$clr-bg-white						: $clr-white;
$clr-bg-light						: $clr-lightest;
$clr-bg-dark						: $clr-dark;
$clr-bg-black						: $clr-black;

$clr-bg-content						: $clr-bg-white;
$clr-bg-inv-content					: $clr-bg-dark;

$clr-bg-body						: $clr-bg-white;
$clr-bg-inv-body					: $clr-darkest;
$clr-bg-hr							: rgba($clr-bg-dark, 0.1);
$clr-bg-code						: if($style == 'inverse', $clr-bg-black, $clr-bg-light);
$clr-bg-kbd							: $clr-bg-dark;
$clr-bg-btn							: darken($clr-bg-light, 2%);
$clr-bg-field						: rgba($clr-white, 0.8);
$clr-bg-inv-field					: transparent;

// ==========================================================================
// Utilities
// ==========================================================================

// Borders

$border-utils : (
	xs : (
		width						: 1px,
		style 						: solid,
		color						: $clr-lighter
	),
	sm : (
		width						: 2px,
		style 						: solid,
		color						: $clr-lighter
	),
	md : (
		width						: 5px,
		style 						: solid,
		color						: $clr-lighter
	),
	lg : (
		width						: 10px,
		style 						: solid,
		color						: $clr-lighter
	),
	xl : (
		width						: 15px,
		style 						: solid,
		color						: $clr-lighter
	)
);

// ==========================================================================
// Spacing
// ==========================================================================

// General

$spacing-element					: 30px;
$spacing-paragraph					: 24px;

// Margins

$margin-element						: $spacing-element 0;

$margin-paragraph					: $spacing-paragraph 0;
$margin-heading						: $spacing-element 0 $spacing-paragraph 0;
$margin-heading-lg					: $margin-paragraph;
$margin-heading-sm					: $margin-paragraph;
$margin-column						: $spacing-element;
$margin-lead						: $margin-element;
$margin-list						: $margin-element;
$margin-quote						: 40px 30px;
$margin-table						: $margin-element;
$margin-alert						: $margin-element;
$margin-btn-group					: 0 -1px;
$margin-btn-group-block				: 0 -1px $spacing-element -1px;
$margin-btn-group-btn				: 0 1px;
$margin-pagination					: $margin-element;
$margin-form						: $margin-element;
$margin-field						: 0 0 ($spacing-element / 2) 0;
$margin-field-label					: 0 4px ($spacing-element / 2) 4px;
$margin-field-group					: 0 4px;
$margin-field-legend				: 0 0 ($spacing-element / 2) 0;
$margin-field-help					: $margin-field-label;
$margin-fieldset					: $margin-element;
$margin-tabs						: $margin-element;
$margin-toggle						: $margin-element;
$margin-toggle-group				: $margin-toggle;
$margin-modal						: $spacing-element auto;
$margin-modal-mobile				: 0 auto;

// Padding

$padding-list						: if($direction == 'rtl', 0 40px 0 0, 0 0 0 40px);
$padding-alert						: 15px;
$padding-submenu					: 12px;
$padding-breadcrumbs				: 20px;
$padding-tabs						: 14px 18px;
$padding-pills						: 10px 14px;
$padding-tab-content				: 30px;
$padding-modal-bg					: 10px;
$padding-modal-bg-mobile			: 6px;


// ==========================================================================
// Forms
// ==========================================================================

$field-base-height					: 50px;
$field-base-lh						: $font-size-base;
$field-base-padding					: 18px;

$field-border-width					: 1px;

$clr-text-placeholder				: lighten($clr-text-base, 40%);
$clr-text-inv-placeholder			: rgba($clr-text-inv-base, 0.4);

$field-selector						: "input[type=date],
									  input[type=datetime-local],
									  input[type=email],
									  input[type=month],
									  input[type=number],
									  input[type=password],
									  input[type=range],
									  input[type=search],
									  input[type=tel],
									  input[type=text],
									  input[type=time],
									  input[type=url],
									  input[type=week],
									  textarea,
									  select";

// Field Sizes

$field-sizes : (
	xs : (
		font-size					: $font-size-xxs,
		height						: 32px,
		line-height					: $font-size-xxs + 2, // Must be even number.
		padding						: 10px
	),
	sm : (
		font-size					: $font-size-xs,
		height						: 38px,
		line-height					: $font-size-xs + 3, // Must be even number.
		padding						: 12px
	),
	lg : (
		font-size					: $font-size-md,
		height						: 56px,
		line-height					: $font-size-md + 3, // Must be even number.
		padding						: 22px
	),
	xl : (
		font-size					: $font-size-base,
		height						: 60px,
		line-height					: $font-size-base + 2, // Must be even number.
		padding						: 24px
	),
	xxl : (
		font-size					: $font-size-lg,
		height						: 64px,
		line-height					: $font-size-lg + 6, // Must be even number.
		padding						: 26px
	),
	xxxl : (
		font-size					: $font-size-xl,
		height						: 76px,
		line-height					: $font-size-xl + 6, // Must be even number.
		padding						: 28px
	)
);

// ==========================================================================
// Buttons
// ==========================================================================

$btn-base-height					: $field-base-height;
$btn-base-lh						: $field-base-lh;
$btn-base-padding					: $field-base-padding + 4;

$btn-transition						: background-color 0.2s ease-out;
$btn-border-width					: 2px; // Transparent on standard .btn

$btn-selector						: ".btn,
									  .button,
									  button,
									  input[type=submit],
									  input[type=reset],
									  input[type=button]";

// Button Sizes

$btn-sizes : (
	xs : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 10px,
		height						: map-deep-get($field-sizes, xs, height)
	),
	sm : (
		font-size					: 10px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 15px,
		height						: map-deep-get($field-sizes, sm, height)
	),
	lg : (
		font-size					: 12px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 30px,
		height						: map-deep-get($field-sizes, lg, height)
	),
	xl : (
		font-size					: 14px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 40px,
		height						: map-deep-get($field-sizes, xl, height)
	),
	xxl : (
		font-size					: 15px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 50px,
		height						: map-deep-get($field-sizes, xxl, height)
	),
	xxxl : (
		font-size					: 16px,
		letter-spacing 				: $font-ls-btn,
		line-height					: $btn-base-lh,
		padding						: 64px,
		height						: map-deep-get($field-sizes, xxxl, height)
	)
);

// Close Buttons

$btn-close : (
	sm								: 20px,
	md								: 32px,
	lg								: 44px,
	xl								: 56px
);

// ==========================================================================
// Tables
// ==========================================================================

$table-cell-padding					: .75rem;

$table-bg							: transparent;
$table-inv-bg						: $clr-bg-dark;

$table-bg-accent					: rgba($clr-black, .025);
$table-bg-inv-accent				: rgba($clr-black, .2);
$table-bg-hover						: $table-bg-accent;
$table-bg-inv-hover					: $table-bg-inv-accent;
$table-bg-active					: $clr-light;

$table-border-width					: 1px;
$table-border-color					: $clr-lighter;
$table-border-inv-color				: $clr-darkest;

// Condensed Tables

$table-sm-cell-padding				: .5rem;
$table-sm-font-size					: $font-size-sm;

// ==========================================================================
// Menus
// ==========================================================================

// Tabs

$tabs-border-width					: 1px;
$tabs-border-color					: $clr-border;
$tabs-border-inv-color				: $clr-border-inv;

$tabs-bg							: $clr-bg-light;
$tabs-inv-bg						: rgba($clr-black, 0.2);

$tabs-hover-bg						: darken($tabs-bg, 4%);
$tabs-hover-inv-bg					: rgba($clr-black, 0.5);

$tabs-active-bg						: $clr-bg-white;
$tabs-active-inv-bg					: $clr-bg-dark;

// Pills

$pills-border-width					: 2px;
$pills-border-color					: $clr-border;
$pills-border-inv-color				: $clr-border-inv;

$pills-bg							: transparent;

$pills-hover-bg						: $tabs-hover-bg;
$pills-hover-inv-bg					: $tabs-hover-inv-bg;

$pills-active-bg					: map-deep-get($clr-branding, primary, base);
$pills-active-text					: map-deep-get($clr-branding, primary, contrast);

$pills-spacing						: 2px;

$pills-flyout-bg					: $clr-bg-white;
$pills-flyout-inv-bg				: $clr-bg-dark;

// General flyout menus

$flyout-vert-spacing				: .85em;
$flyout-horz-spacing				: 20px;
$flyout-width						: 200px;

// ==========================================================================
// Tabs and Toggles
// ==========================================================================

// Tabs

$tab-content-border-width			: $tabs-border-width;
$tab-content-border-color			: $tabs-border-color;
$tab-content-border-inv-color		: $tabs-border-inv-color;

$tab-content-bg						: $tabs-active-bg;
$tab-content-inv-bg					: $tabs-active-inv-bg;

// Toggles

$toggle-border-width				: 1px;
$toggle-border-color				: $clr-border;
$toggle-border-inv-color			: $clr-border-inv;

$toggle-vert-space					: 24px;
$toggle-horz-space					: 10px;

$toggle-icon-size					: $font-size-base;
$toggle-icon-buffer					: 4px;

// ==========================================================================
// Modal
// ==========================================================================

// General

$modal-overlay-color				: $clr-darkest;
$modal-overlay-opacity				: 0.8;
$modal-shadow						: 0 0 20px rgba(0, 0, 0, 0.4);
$modal-z-index-base					: 100000;

$modal-caption-text-color			: $clr-text-inv-base;
$modal-caption-font-size			: $font-size-sm;
$modal-caption-spacing				: 4px;

$modal-controls-text-color			: $clr-text-inv-lighten;
$modal-controls-text-color-hover	: $clr-text-inv-base;

$modal-close-btn-size				: 14px;

$modal-arrow-btn-size				: 40px;
$modal-arrow-btn-img-size			: $modal-arrow-btn-size $modal-arrow-btn-size;

// Iframes / Video

$modal-iframe-bg					: $clr-black;
$modal-iframe-spacing				: 40px;
$modal-iframe-width					: 900px;
$modal-iframe-ratio					: 9/16;

// Images

$modal-img-bg						: $clr-black;
$modal-img-spacing					: 50px;

// Inline Content

$modal-content-border-width			: 1px;
$modal-content-border-color			: rgba(0, 0, 0, 0.5);

$modal-header-border-width			: 1px;
$modal-header-border-color			: $clr-border;
$modal-header-border-inv-color		: $clr-border-inv;

$modal-sizes : (
	xs : ( // Mobile viewport version for all sizes
		font-size					: $font-size-base,
		padding-content				: 30px, // top/bottom
		padding-header				: 20px, // top/bottom
		padding-horz				: 40px,
		width 						: 100%
	),
	sm : (
		font-size					: $font-size-sm,
		padding-content				: 20px, // top/bottom
		padding-header				: 15px, // top/bottom
		padding-horz				: 15px,
		width 						: 300px
	),
	md : (
		font-size					: $font-size-base,
		padding-content				: 30px, // top/bottom
		padding-header				: 20px, // top/bottom
		padding-horz				: 40px,
		width 						: 600px
	),
	lg : (
		font-size					: $font-size-base,
		padding-content				: 50px, // top/bottom
		padding-header				: 30px, // top/bottom
		padding-horz				: 70px,
		width 						: 900px
	)
);
