/* =Layout
-------------------------------------------------------------- */

body {
	background: #f8f8f8;
}
#main {
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.05);
  	box-shadow: 0 0 4px rgba(0,0,0,.05);
	margin: 50px auto;
	max-width: 960px;
    padding: 60px 120px;
}
@media (max-width: 767px) {
	#main {
		margin: 0;
		padding: 40px;
	}
}

/* =Examples
-------------------------------------------------------------- */

/* Grids */
.row-example {
	font-size: 14px;
	// margin-top: 40px;
	// margin-bottom: 24px;
}
.row-example code {
	background: #eee;
	display: block;
	padding: 10px;
}

/* Quotes */
blockquote.alignleft,
blockquote.alignright {
	max-width: 300px;
}

/* Colors */
.demo-colors {
	margin: 0 -1% 30px -1%;
}
.demo-colors li {
	border: 1px solid transparent;
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 48%;
	height: 80px;
}
.demo-colors li.bg-light,
.demo-colors li.white {
	border-color: #ddd;
}
.demo-colors code {
	background-color: rgba(0,0,0,.2);
	color: #fff;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.demo-colors li.bg-light code,
.demo-colors li.white code {
	color: #666;
}

/* Borders */
.demo-borders {
	margin-bottom: 30px;
}
.demo-borders li {
	margin: 10px 0;
	position: relative;
	height: 100px;
}
.demo-borders code {
	background-color: #f8f8f8;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.demo-borders span {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* Close Button */
.close-button-examples {
	height: 80px;
	position: relative;
}
.close-button-examples .close {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.close-button-examples .close:nth-child(1) {
	left: 10px;
}
.close-button-examples .close:nth-child(2) {
	left: 70px;
}
.close-button-examples .close:nth-child(3) {
	left: 125px;
}
.close-button-examples .close:nth-child(4) {
	left: 170px;
}

/* =Tables
-------------------------------------------------------------- */

.responsive-utilities td.is-visible {
	color: #468847;
	background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}
.table-grid-overview {
	font-size: 12px;
}

/* =Syntax Highlighter
-------------------------------------------------------------- */

div .syntaxhighlighter {
	background-color: #f8f8f8 !important;
	border-radius: 2px;
	margin: 20px 0 30px 0 !important;
	padding: 16px !important;
}
.syntaxhighlighter code {
	white-space: nowrap !important;
}
.syntaxhighlighter.no-wrap code {
	white-space: normal !important;
}
.syntaxhighlighter table td.code .line {
	padding-left: 8px !important;
	font-size: 14px !important;
	line-height: 22px !important;
}
.syntaxhighlighter table td.gutter .line {
	font-size: 13px !important;
	line-height: 22px !important;
	padding-left: 5px !important;
}
.syntaxhighlighter table td.code .line.alt1 {
	background-color: transparent !important;
}
.syntaxhighlighter table td.code .line.alt2 {
	background-color: transparent !important;
}
