// --------------------------------------------------
// Typography
// --------------------------------------------------

//
// Body Text
//

body,
html {
  color: $fs-color-text-base-fallback;
  color: $fs-color-text-base;
  font-family: $fs-font-family-base;
  font-size: $fs-font-size-base;
  font-weight: $fs-font-weight-base;
  line-height: $fs-line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@if ($direction == 'rtl') {
  body {
    direction: rtl;
    unicode-bidi: embed;
  }
}
@if ($version == 'full') {
  .text-light {
    color: rgba($fs-color-text-inv-base, 0.8);
  }
  .text-dark {
    color: $fs-color-text-base;
  }
}

//
// Links
//

a {
  color: $fs-link-color;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: $fs-link-color-hover;
}
@if ($version == 'full') {
  .text-light {
    @include fs-blend-links;
  }
  .text-dark a {
    color: $fs-link-color;
  }
  .text-dark a:hover,
  .text-dark a:active,
  .text-dark a:focus {
    color: $fs-link-color-hover;
  }
}

//
// Paragraphs
//

p {
  margin: $fs-paragraph-margin;
  @include fs-margin-vert-flush;
}
.lead {
  @include fs-min-width(sm) {
    font-size: $fs-lead-font-size;
    line-height: $fs-lead-line-height;
    margin: $fs-lead-margin;
    @include fs-margin-vert-flush;
  }
}

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $fs-heading-font-weight;
  font-family: $fs-heading-font-family;
  font-weight: $fs-heading-font-weight;
  letter-spacing: $fs-heading-letter-spacing;
  line-height: $fs-heading-line-height;
  margin: $fs-heading-margin;
  text-transform: $fs-heading-text-transform;

  @include fs-margin-vert-flush;

  .fs-divider {
    margin-top: $fs-divider-margin - 10px;
  }
}
@each $tag, $map in $fs-headings {
  #{$tag},
  .#{$tag} {
    font-size: map-get($map, base);
  }
}
@include fs-max-width(sm) {
  @each $tag, $map in $fs-headings {
    #{$tag},
    .#{$tag} {
      font-size: map-get($map, mobile);
    }
  }
}

//
// Subtitles
//

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  small {
    display: block;
    font-size: $fs-heading-subtitle-font-size;
    letter-spacing: $fs-heading-subtitle-letter-spacing;
    margin: 0.6em 0 0 0.1em;
    text-transform: $fs-heading-subtitle-text-transform;
  }
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  small {
    font-size: $fs-smaller-heading-subtitle-font-size;
  }
}

//
// Bigger Headings
//

.heading-lg,
.heading-xl,
.heading-xxl,
.heading-xxxl {
  color: $fs-color-text-darken;
  font-weight: $fs-large-heading-font-weight;
  letter-spacing: $fs-large-heading-letter-spacing;
  line-height: $fs-large-heading-line-height;
  margin: $fs-large-heading-margin;
  text-transform: $fs-heading-text-transform-lg;

  @include fs-margin-vert-flush;
}
@each $tag, $map in $fs-large-headings {
  .heading-#{$tag} {
    font-size: map-get($map, base);
  }
}
@include fs-max-width(sm) {
  @each $tag, $map in $fs-large-headings {
    .heading-#{$tag} {
      font-size: map-get($map, mobile);
    }
  }
}

//
// Smaller Headings
//

.heading-sm,
.heading-xs,
.heading-xxs,
.heading-xxxs {
  color: $fs-color-text-darken;
  font-weight: $fs-small-heading-font-weight;
  letter-spacing: $fs-small-heading-letter-spacing;
  line-height: $fs-small-heading-line-height;
  margin: $fs-small-heading-margin;
  text-transform: $fs-small-heading-text-transform;

  @include fs-margin-vert-flush;
}
@each $tag, $map in $fs-small-headings {
  .heading-#{$tag} {
    font-size: map-get($map, base);
  }
}

//
// Heading Color
//

@include fs-heading-variant;

@if ($version == 'full') {
  .text-light {
    @include fs-heading-variant('inverse');
  }
  .text-dark {
    @include fs-heading-variant;
  }
}

//
// Heading Underline
//

.heading-underline {
  border-bottom: 2px solid $fs-color-trans-lightest;
  padding-bottom: 0.8em;
  position: relative;

  &:after {
    content: '';
    background: fs-map-deep-get($fs-branding-colors, secondary, base);
    position: absolute;
    bottom: -$fs-heading-underline-h;
    @if ($direction == 'rtl') {
      right: 0;
    } @else {
      left: 0;
    }
    width: $fs-heading-underline-w;
    height: $fs-heading-underline-h;
    z-index: 2;
  }
  &.text-left:after {
    right: auto;
    left: 0;
  }
  &.text-right:after {
    right: 0;
    left: auto;
  }
  &.text-center:after {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@if ($version == 'full') {
  .text-light .heading-underline {
    border-bottom-color: rgba($fs-color-darkest, 0.5);
  }
  .text-dark .heading-underline {
    border-bottom-color: $fs-color-trans-lightest;
  }
}

//
// Code
//

pre {
  background-color: $fs-code-bg-color;
  border: none;
  border-radius: 2px;
  font-family: $fs-font-family-code;
  font-size: $fs-pre-font-size;
  line-height: $fs-line-height-base;
  margin: $fs-element-margin;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  @include fs-margin-vert-flush;
}
code,
kbd,
tt,
var {
  font-family: $fs-font-family-code;
  font-size: $fs-code-font-size;
  font-weight: $fs-font-weight-bold;
}
code {
  background-color: $fs-code-bg-color;
  border-radius: 1px;
  color: $fs-color-text-base;
  font-size: 90%;
  padding: 0.125em 0.25em;
}
pre code {
  background-color: transparent;
  border: none;
  padding: 0;
}
kbd {
  background-color: $fs-kbd-bg-color;
  box-shadow: inset 0 -1px 0 rgba($fs-color-black, 0.25);
  border-radius: 2px;
  font-size: 90%;
  color: $fs-color-text-inv-base;
  padding: 2px 4px;

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $fs-font-weight-bold;
    box-shadow: none;
  }
}
@if ($version == 'full') {
  .text-light {
    pre,
    code {
      background-color: $fs-code-bg-color-inv;
      color: $fs-color-text-inv-base;
    }
  }
  .text-dark {
    pre,
    code {
      background-color: $fs-code-bg-color;
      color: $fs-color-text-base;
    }
  }
}

//
// Emphasis & misc
//

small,
.small {
  font-size: $fs-small-elem-font-size;
}
big,
.big {
  font-size: $fs-big-elem-font-size;
}
mark,
.mark,
ins,
.ins {
  background-color: $fs-color-bg-highlight;
  padding: 0.2em;
  text-decoration: none;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
address {
  font-style: $fs-address-font-style;
  line-height: $fs-line-height-base;
  margin: $fs-element-margin;
  @include fs-margin-vert-flush;
}
abbr,
acronym {
  border-bottom: 1px dotted $fs-color-border;
  cursor: help;
  text-decoration: inherit;
}
@if ($version == 'full') {
  .text-light abbr,
  .text-light acronym {
    border-color: $fs-color-border-inv;
  }
  .text-dark abbr,
  .text-dark acronym {
    border-color: $fs-color-border;
  }
}

//
// Blockquotes
//

blockquote {
  color: $fs-color-text-darken;
  font-size: $fs-quote-font-size;
  font-style: $fs-quote-font-style;
  line-height: $fs-quote-line-height;
  margin: $fs-quote-margin;
  text-transform: $fs-quote-text-transform;

  @include fs-margin-vert-flush;

  &.alignleft,
  &.pull-left,
  &.alignright,
  &.pull-right {
    margin: $fs-quote-margin;
    margin-top: $fs-element-spacing;
    margin-bottom: $fs-element-spacing;
  }
}
@include fs-max-width(sm) {
  blockquote,
  blockquote.alignleft,
  blockquote.pull-left,
  blockquote.alignright,
  blockquote.pull-right {
    margin-right: 0;
    margin-left: 0;
  }
}
@if ($version == 'full') {
  .text-light blockquote {
    color: $fs-color-text-inv-darken;
  }
  .text-dark blockquote {
    color: $fs-color-text-darken;
  }
}
blockquote.pull-left blockquote.alignleft {
  text-align: left;
}
blockquote.pull-right blockquote.alignright {
  text-align: right;
}
blockquote {
  cite {
    display: block;
    font-style: normal;
    font-weight: $fs-font-weight-bold;
    margin-top: 0.8em;
    text-transform: uppercase;
  }
  cite,
  cite:before {
    color: $fs-color-text-lighten;
    font-size: $fs-cite-font-size;
    line-height: $fs-font-lh-cite;
  }
  cite:before {
    content: '\2014 \00A0';
  }
}
@if ($version == 'full') {
  .text-light blockquote cite,
  .text-light blockquote cite:before {
    color: $fs-color-text-inv-lighten;
  }
  .text-dark blockquote cite,
  .text-dark blockquote cite:before {
    color: $fs-color-text-lighten;
  }
}
