/* =Layout
-------------------------------------------------------------- */
body {
  background: #f8f8f8; }

#main {
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  margin: 50px auto;
  max-width: 960px;
  padding: 60px 120px; }

@media (max-width: 767px) {
  #main {
    margin: 0;
    padding: 40px; } }

/* =Examples
-------------------------------------------------------------- */
/* Grids */
.row-example {
  font-size: 14px; }

.row-width-example .col .wrap {
  background: #1b1b1b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  display: block;
  text-align: center; }

.row-width-example .col.col-md-order-first .wrap,
.row-width-example .col.col-md-order-last .wrap {
  background: #428bca; }

.row-container-example {
  padding: 15px; }
  .row-container-example > .wrap {
    border: 1px dashed #ddd;
    padding: 14px 0; }
  .row-container-example .row {
    background-color: rgba(255, 0, 0, 0.2); }

.row-nesting-example .has-bg .wrap {
  padding: 10px; }

.row-example-align {
  margin: 0;
  padding: 15px 0; }

.row-example-align-single-col {
  min-height: 300px; }

@media screen and (min-width: 0\0) {
  .row-example-align-single-col {
    height: 300px; } }

.offset-examples {
  padding-top: 15px;
  padding-bottom: 15px; }
  .offset-examples .row {
    border: 1px dashed #ddd;
    margin-bottom: 5px;
    position: relative; }
  .offset-examples .label {
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%); }
  .offset-examples .col {
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px; }
  .offset-examples .row-width-example .col .wrap {
    background: #1b1b1b; }

/* Quotes */
blockquote.alignleft,
blockquote.alignright {
  max-width: 300px; }

/* Colors */
.demo-colors {
  margin: 0 -1% 30px -1%; }

.demo-colors li {
  border: 1px solid transparent;
  float: left;
  margin: 10px 1%;
  position: relative;
  width: 48%;
  height: 80px; }

.demo-colors li.bg-light,
.demo-colors li.white {
  border-color: #ddd; }

.demo-colors code {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px; }

.demo-colors li.bg-light code,
.demo-colors li.white code {
  color: #666; }

/* Borders */
.demo-borders {
  margin-bottom: 30px; }

.demo-borders li {
  margin: 10px 0;
  position: relative;
  height: 100px; }

.demo-borders code {
  background-color: #f8f8f8;
  position: absolute;
  bottom: 10px;
  left: 10px; }

.demo-borders span {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px; }

/* Close/Menu Toggle Button */
.close-button-examples,
.menu-button-examples,
.menu-button-examples-2 {
  margin-bottom: 24px;
  height: 80px;
  position: relative; }

.close-button-examples .fs-close,
.menu-button-examples .fs-menu-toggle,
.menu-button-examples-2 .fs-menu-toggle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.close-button-examples .fs-close:nth-child(1),
.menu-button-examples .fs-menu-toggle:nth-child(1) {
  left: 10px; }

.close-button-examples .fs-close:nth-child(2),
.menu-button-examples .fs-menu-toggle:nth-child(2) {
  left: 70px; }

.close-button-examples .fs-close:nth-child(3),
.menu-button-examples .fs-menu-toggle:nth-child(3) {
  left: 125px; }

.close-button-examples .fs-close:nth-child(4),
.menu-button-examples .fs-menu-toggle:nth-child(4) {
  left: 170px; }

.menu-button-examples-2 .fs-menu-toggle:nth-child(1) {
  left: 10px; }

.menu-button-examples-2 .fs-menu-toggle:nth-child(2) {
  left: 180px; }

.menu-button-examples-2 .fs-menu-toggle:nth-child(3) {
  left: 310px; }

.menu-button-examples-2 .fs-menu-toggle:nth-child(4) {
  left: 410px; }

/* Navigation */
nav {
  margin-bottom: 24px; }

/* Text Color Helpers */
.demo-text-color {
  background: #333;
  padding: 30px; }

.demo-text-color .demo-text-color {
  background: #fff; }

.demo-text-color .demo-text-color .demo-text-color {
  background: #333; }

/* Forms */
.form-example {
  padding: 40px; }

/* Breadcrumbs */
.breadcrumbs-example {
  margin-bottom: 24px;
  padding: 20px; }

/* Submenus */
.submenu-example {
  padding: 40px; }

/* Centered button group */
.btn-group-justified-example {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px; }

/* Widgets */
.widget-examples {
  padding: 10px; }

@media (min-width: 36em) {
  .widget-examples {
    padding: 50px; } }

/* =Tables
-------------------------------------------------------------- */
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important; }

.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important; }

.table-grid-overview {
  font-size: 12px; }

/* =Syntax Highlighter
-------------------------------------------------------------- */
div .syntaxhighlighter {
  background-color: #f8f8f8 !important;
  border-radius: 2px;
  margin: 20px 0 30px 0 !important;
  padding: 16px !important; }

.syntaxhighlighter code {
  white-space: nowrap !important; }

.syntaxhighlighter.no-wrap code {
  white-space: normal !important; }

.syntaxhighlighter table td.code .line {
  padding-left: 8px !important;
  font-size: 14px !important;
  line-height: 22px !important; }

.syntaxhighlighter table td.gutter .line {
  font-size: 13px !important;
  line-height: 22px !important;
  padding-left: 5px !important; }

.syntaxhighlighter table td.code .line.alt1 {
  background-color: transparent !important; }

.syntaxhighlighter table td.code .line.alt2 {
  background-color: transparent !important; }
