// --------------------------------------------------
// Alerts
// --------------------------------------------------

.alert {
  border-style: solid;
  border-width: 0;
  @if ($direction == 'rtl') {
    border-right-width: 10px;
  } @else {
    border-left-width: 10px;
  }
  font-size: $fs-alert-font-size;
  margin: $fs-alert-margin;
  padding: $fs-alert-padding;

  @include fs-margin-vert-flush;

  // Provide class for links that match alerts
  a {
    color: inherit;
    font-weight: $fs-font-weight-bold;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // Improve alignment and spacing of inner content
  > p + p {
    margin-top: 5px;
  }
}

//
// Backwards Compat
//

@each $name, $map in $fs-contextual-colors {
  @include fs-bg-variant('.alert-#{$name}', map-get($map, base), map-get($map, contrast));
}
