// --------------------------------------------------
// Custom Buttons
// --------------------------------------------------

//
// Loading Buttons
//

$gradient-width: $fs-btn-loading-gradient-size;
$total-width: $gradient-width + ($gradient-width / 2);
$key-frame-offset: $gradient-width / 10;

.btn.loading {
  cursor: wait;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    animation-name: fs-btn-loading;
    animation-duration: $fs-btn-loading-animation-duration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.25) 0,
      rgba(255, 255, 255, 0.25) ($gradient-width/2),
      rgba(0, 0, 0, 0) ($gradient-width/2),
      rgba(0, 0, 0, 0) $gradient-width
    );
    display: block;
    position: absolute;
    left: -$total-width;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}

@keyframes fs-btn-loading {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate($total-width - $key-frame-offset, 0);
  }
}
