// --------------------------------------------------
// Menu
// --------------------------------------------------

//
// General Properties
//

.fs-menu-bar,
.fs-menu-tabs,
.fs-menu-pills {
  @include fs-list-unstyled;
}
.menu-btn {
  display: block;
  line-height: 1;
  position: relative;
  transition: $fs-btn-transition;
}
.menu-horz {
  @include fs-menu-horz;
  @include fs-list-unstyled;
}
@each $breakpoint in map-keys($fs-breakpoints) {
  @if $breakpoint != xl {
    // skip xl
    .menu-horz-#{$breakpoint} {
      @include fs-list-unstyled;
    }
    @include fs-min-width($breakpoint) {
      .menu-horz-#{$breakpoint} {
        @include fs-menu-horz;
      }
    }
  }
}

//
// Dropdowns / Sub-levels
//
// While the core dropdown styles are in _dropdowns.scss,
// this section further styles dropdowns for the different
// top-level menu present styles.
//
// Also, if sublevels are used without dropdowns, these
// styles will be applied to staticly displayed submenus.
//

.fs-menu-bar,
.fs-menu-tabs,
.fs-menu-pills {
  a {
    text-decoration: none;
  }
  ul {
    @include fs-list-unstyled;
    min-width: $fs-dropdown-width;
    padding: $fs-dropdown-vert-spacing 0;
  }

  // Drop indicator icons
  li.menu-item-has-children > .menu-btn {
    @if ($direction == 'rtl') {
      padding-left: 2.25em;
    } @else {
      padding-right: 2.25em;
    }
  }

  // Level 2+
  ul {
    font-size: $fs-dropdown-font-size;
    margin: 0;
    // padding-left: 10px;
  }
  ul .menu-btn {
    padding: 0.75em $fs-dropdown-horz-spacing;
  }
  &.text-dark ul .menu-btn {
    color: $fs-color-text-darken;
  }
  &.text-dark ul a.menu-btn {
    color: $fs-color-text-base;

    &:hover,
    &:focus {
      color: $fs-color-text-darken;
    }
  }
  &.text-light ul .menu-btn {
    color: $fs-color-text-inv-darken;
  }
  &.text-light ul a.menu-btn {
    color: rgba($fs-color-text-inv-darken, 0.8);

    &:hover,
    &:focus {
      color: $fs-color-text-inv-darken;
    }
  }

  // Level 3
  ul ul {
    padding-left: 20px;
  }
}
.menu-horz {
  &.fs-menu-bar,
  &.fs-menu-tabs,
  &.fs-menu-pills {
    ul,
    .fs-mega {
      box-shadow: $fs-dropdown-shadow;
    }
    .fs-mega {
      padding: $fs-mega-menu-padding;

      ul {
        box-shadow: none;
      }
    }
  }
}
@each $breakpoint in map-keys($fs-breakpoints) {
  @if $breakpoint != xl {
    // skip xl
    @include fs-min-width($breakpoint) {
      .fs-menu-bar.menu-horz-#{$breakpoint},
      .fs-menu-tabs.menu-horz-#{$breakpoint},
      .fs-menu-pills.menu-horz-#{$breakpoint} {
        ul,
        .fs-mega {
          box-shadow: $fs-dropdown-shadow;
        }
        .fs-mega {
          padding: $fs-mega-menu-padding;

          ul {
            box-shadow: none;
          }
        }
      }
    }
  }
}

//
// Sub-Indicator Icons
//

.fs-menu-bar,
.fs-menu-tabs,
.fs-menu-pills {
  .sub-indicator {
    @include fs-background-mini-chevron($fs-color-text-base);
    background-size: 0.571428em 0.571428em;
    position: absolute;
    top: 50%;
    @if ($direction == 'rtl') {
      left: 1em;
    } @else {
      right: 1em;
    }
    transform: translate(0, -50%);
    width: 0.571428em;
    height: 0.571428em;
  }
  &.text-light .sub-indicator {
    @include fs-background-mini-chevron(rgba($fs-color-text-inv-darken, 0.8));
  }
}

//
// Menu Bar
//

.fs-menu-bar {
  // Level 1
  > li > .menu-btn {
    font-size: $fs-menu-bar-btn-font-size;
    font-weight: $fs-menu-bar-btn-font-weight;
    letter-spacing: $fs-menu-bar-btn-letter-spacing;
    padding: fs-em(18px, $fs-menu-bar-btn-font-size) fs-em(20px, $fs-menu-bar-btn-font-size);
    text-transform: $fs-menu-bar-btn-text-transform;
  }
  &.text-dark {
    > li > .menu-btn {
      color: $fs-color-text-darken;

      &:hover,
      &:focus {
        background-color: rgba($fs-color-light, 0.3);
      }
    }
    > li.active,
    > li.current-menu-item,
    > li.current-menu-ancestor {
      > .menu-btn {
        background-color: rgba($fs-color-light, 0.3);
      }
    }
  }
  &.text-light {
    > li > .menu-btn {
      color: $fs-color-text-inv-darken;

      &:hover,
      &:focus {
        background-color: rgba($fs-color-black, 0.5);
      }
    }
    > li.active,
    > li.current-menu-item,
    > li.current-menu-ancestor {
      > .menu-btn {
        background-color: rgba($fs-color-black, 0.5);
      }
    }
  }

  // Level 2
  ul {
    padding: 0 10px;
  }
  &.menu-horz ul {
    padding: 0;
  }
}

@each $breakpoint in map-keys($fs-breakpoints) {
  @if $breakpoint != xl {
    // skip xl
    @include fs-min-width($breakpoint) {
      .fs-menu-bar.menu-horz-#{$breakpoint} ul {
        padding: 0;
      }
    }
  }
}

//
// Tabs
//

.fs-menu-tabs {
  border-color: $fs-tabs-border-color;
  border-style: solid;

  @if ($direction == 'rtl') {
    border-width: $fs-tabs-border-width $fs-tabs-border-width 0 0;
  } @else {
    border-width: 0 0 $fs-tabs-border-width $fs-tabs-border-width;
  }

  > li > .menu-btn {
    background: $fs-tabs-bg;
    border-color: $fs-tabs-border-color;
    border-style: solid;
    @if ($direction == 'rtl') {
      border-width: 0 0 $fs-tabs-border-width $fs-tabs-border-width;
    } @else {
      border-width: $fs-tabs-border-width $fs-tabs-border-width 0 0;
    }
    padding: $fs-tabs-padding;
    font-size: $fs-tabs-font-size;
    color: inherit;

    &:hover,
    &:focus {
      background-color: $fs-tabs-hover-bg;
    }
  }
  > li.active,
  > li.current-menu-item,
  > li.current-menu-ancestor {
    > .menu-btn {
      background: $fs-tabs-active-bg;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
  > li.active,
  > li.current-menu-item {
    > .menu-btn {
      cursor: default;
    }
  }

  // Horizontal
  &.menu-horz {
    @include fs-menu-tabs-horz;
  }

  // Level 2+
  ul:not(.mega-sub-menu),
  .fs-mega {
    background: $fs-tabs-active-bg;
    padding-top: $fs-dropdown-vert-spacing;
    padding-bottom: $fs-dropdown-vert-spacing;

    a.menu-btn {
      color: $fs-color-text-base;

      &:hover,
      &:focus {
        color: $fs-color-text-darken;
      }
    }
  }
  > li > ul {
    @if ($direction == 'rtl') {
      border-left-color: $fs-tabs-border-color;
      border-left-style: solid;
      border-left-width: $fs-tabs-border-width;
    } @else {
      border-right-color: $fs-tabs-border-color;
      border-right-style: solid;
      border-right-width: $fs-tabs-border-width;
    }
  }
}
@each $breakpoint in map-keys($fs-breakpoints) {
  @if $breakpoint != xl {
    // skip xl
    @include fs-min-width($breakpoint) {
      .fs-menu-tabs.menu-horz-#{$breakpoint} {
        @include fs-menu-tabs-horz;
      }
    }
  }
}
.text-light {
  @include fs-tabs-variant('inverse');
}
.text-dark {
  @include fs-tabs-variant;
}

//
// Pills
//

.fs-menu-pills {
  margin: (-$fs-pills-spacing) (-$fs-pills-spacing) ($fs-element-spacing - 2) (-$fs-pills-spacing);

  > li {
    padding: $fs-pills-spacing;
  }
  > li > .menu-btn {
    background: $fs-pills-bg;
    border-color: $fs-pills-border-color;
    border-style: solid;
    border-width: $fs-pills-border-width;
    color: inherit;
    padding: $fs-pills-padding;
    font-size: $fs-pills-font-size;

    &:hover,
    &:focus {
      background: $fs-pills-hover-bg;
    }
  }

  // Horizontal
  &.menu-horz {
    @include fs-menu-pills-horz;
  }

  // Level 2+
  ul:not(.mega-sub-menu),
  .fs-mega {
    padding: $fs-dropdown-vert-spacing 10px;

    .menu-btn {
      padding-right: 10px;
      padding-left: 10px;
    }
    a.menu-btn {
      color: $fs-color-text-base;

      &:hover,
      &:focus {
        color: $fs-color-text-darken;
      }
    }
  }
}
@each $breakpoint in map-keys($fs-breakpoints) {
  @if $breakpoint != xl {
    // skip xl
    @include fs-min-width($breakpoint) {
      .fs-menu-pills.menu-horz-#{$breakpoint} {
        @include fs-menu-pills-horz;
      }
    }
  }
}
.text-light {
  @include fs-pills-variant('inverse');
}
.text-dark {
  @include fs-pills-variant;
}
.fs-menu-pills {
  > li.active,
  > li.current-menu-item,
  > li.current-menu-ancestor {
    > .menu-btn,
    > .menu-btn:hover,
    > .menu-btn:focus {
      background: $fs-pills-active-bg;
      border-color: transparent;
      color: $fs-pills-active-text;
    }
  }
  > li.active,
  > li.current-menu-item {
    cursor: default;
  }
}
