/* =Typography
----------------------------------------------- */

//
// Body Text
//

body,
html {
	color: #666; // Fallback
	color: $clr-text-base;
	font-family: $font-fam-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $font-lh-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html,
body,
button,
input,
select,
textarea {
    color: $clr-text-base	;
    font-family: $font-fam-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $font-lh-base;
}
@include max-width(sm) {
    body,
    button,
    input,
    select,
    textarea {
        font-size: $font-size-mobile;
    }
}
.text-light button,
.text-light input,
.text-light select,
.text-light textarea {
	color: $clr-text-inv-base;
}

// Paragraphs
p {
	margin: 0 0 $spacing-paragraph;
}
.lead {

	@include min-width(sm) {
		font-size: $font-size-lead;
		line-height: $font-lh-lead;
		margin-bottom: $spacing-lead;
	}
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	font-family: $font-fam-headings;
	font-weight: $font-weight-heading;
	line-height: $font-lh-heading;
	margin-top: $spacing-heading + 10px;
    margin-bottom: $spacing-heading;
	color: $clr-text-darken;
	text-transform: none;
}
h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child,
h4:first-child, .h4:first-child,
h5:first-child, .h5:first-child,
h6:first-child, .h6:first-child {
	margin-top: 0;
}
.text-light h1, .text-light .h1,
.text-light h2, .text-light .h2,
.text-light h3, .text-light .h3,
.text-light h4, .text-light .h4,
.text-light h5, .text-light .h5,
.text-light h6, .text-light .h6 {
	color: $clr-text-inv-darken;
}
h5, h6,
.h5, .h6 {
	letter-spacing: $spacing-letter;
	line-height: $font-lh-heading-sm;
	margin-top: 0;
    margin-bottom: 1em;
	text-transform: uppercase;
}
h1, .h1 {
	font-size: $font-size-entry-title;
}
h2, .h2 {
	font-size: 1.93rem;
}
h3, .h3 {
	font-size: 1.42rem;
}
h4, .h4 {
	font-size: 1.14rem;
}
h5, .h5 {
	font-size: 1rem;
}
h6, .h6 {
	font-size: .85rem;
}

//
// Page Heading
//

.entry-title {
	font-size: $font-size-entry-title; // Match to <h1>

	.entry-subtitle {
		color: $clr-text-lighten;
		display: block;
    	font-size: .45em;
    	margin: .6em 0 0 .1em;
	}
}

//
// Alignment
//

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-nowrap {
	white-space: nowrap;
}

//
// Transformation
//

.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}

//
// Contextual
//

// Contextual Colors
.text-muted {
	color: $clr-text-lighten;
}
.text-light .text-muted {
	color: $clr-text-inv-lighten;
}

@include text-emphasis-variant('.text-primary', $clr-primary-text);

@include text-emphasis-variant('.text-success', $clr-success-text);

@include text-emphasis-variant('.text-info', $clr-info-text);

@include text-emphasis-variant('.text-warning', $clr-warning-text);

@include text-emphasis-variant('.text-danger', $clr-danger-text);

// Contextual Backgrounds
.primary, // For Theme Blvd compat.
.bg-primary {
	color: #fff;
}

@include bg-variant('.bg-primary, .primary', $clr-primary-bg); // .primary for Theme Blvd compat.

@include bg-variant('.bg-success', $clr-success-bg);

@include bg-variant('.bg-info', $clr-info-bg);

@include bg-variant('.bg-warning', $clr-warning-bg);

@include bg-variant('.bg-danger', $clr-danger-bg);

//
// Code
//

pre {
    background-color: $clr-bg-code;
    border: none;
	@include border-radius(2px);
    font-family: $font-fam-code;
    font-size: $font-size-pre;
    line-height: $font-lh-base;
    margin-bottom: $spacing-paragraph;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
}
code, kbd, tt, var {
    font-family: $font-fam-code;
    font-size: $font-size-code;
}
code {
    background-color: $clr-bg-code;
    @include border-radius(1px);
	color: $clr-text-base;
	padding: 0.125em 0.25em;
}

//
// Emphasis & misc
//

small,
.small {
	font-size: $font-size-small;
}
big,
.big {
    font-size: $font-size-big;
}
mark,
.mark,
ins,
.ins {
	background-color: $clr-warning-bg;
	padding: .2em;
	text-decoration: none;
}
dfn, cite, em, i {
    font-style: italic;
}
address {
	line-height: $font-lh-base;
    margin: 0 0 $spacing-paragraph;
}
pre code {
    background-color: transparent;
    border: none;
    padding: 0;
}
abbr, acronym {
    border-bottom: 1px dotted $color-border-light;
    cursor: help;
}

//
// Blockquotes
//

blockquote {
    color: $clr-text-darken;
    font-size: 1.3rem;
    font-style: italic;
    line-height: $font-lh-quote;
    margin: $spacing-blockquote;

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
blockquote.alignleft,
blockquote.pull-left,
blockquote.alignright,
blockquote.pull-right {
	margin: $spacing-blockquote;
	margin-top: $spacing-paragraph;
	margin-bottom: $spacing-paragraph;
}
@include max-width(sm) {
	blockquote,
	blockquote.alignleft,
	blockquote.pull-left,
	blockquote.alignright,
	blockquote.pull-right {
		margin-right: 0;
		margin-left: 0;
	}
}
.text-light blockquote {
	color: $clr-text-inv-darken;
}
blockquote.pull-right
blockquote.alignright {
	text-align: right;
}
blockquote cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-top: .8em;
	text-transform: uppercase;
}
blockquote cite,
blockquote cite:before {
	color: $clr-text-lighten;
	font-size: $font-size-cite;
    line-height: $font-lh-cite;
}
.text-light blockquote cite,
.text-light blockquote cite:before {
	color: $clr-text-inv-lighten;
}
blockquote cite:before {
    content: '\2014 \00A0';
}
