// --------------------------------------------------
// Mixins: Forms & Buttons
// --------------------------------------------------

//
// Generate input selectors.
//

@mixin field-selector {

	#{$field-selector} {
		@content;
	}

}

//
// Generate button selectors.
//

@mixin btn-selector {

	#{$btn-selector} {
		@content;
	}

}

//
// Generate button styles.
//

@mixin btn-styles {

	background-color: $clr-bg-btn;
	border: $btn-border-width solid transparent;
	color: $clr-text-darken;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-btn;
	font-weight: $font-weight-btn;
	letter-spacing: $font-ls-btn;
	line-height: $btn-base-lh;
	margin-bottom: 0; // For input.btn
	padding: padding-y($btn-base-height, $btn-base-lh, $btn-border-width) $btn-base-padding;
	text-align: center;
	text-transform: $font-transform-btn;
	touch-action: manipulation;
	transition: $btn-transition;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:active,
	&.active {
		&:focus {
			@include tab-focus;
		}
	}
	&:hover,
	&:focus {
		background-color: darken($clr-bg-btn, 2%);
		color: $clr-text-base;
		text-decoration: none;
	}
	&:active,
	&.active {
		outline: 0;
	}
	&.active {
		border-color: transparent;
	}
}

//
// Style buttons color variations.
//

@mixin button-variant($clr, $text, $bg, $bg-hover: null) {

	// Standard Buttons

	$clr-selector: str-replace( $btn-selector, ",", ".btn-#{$clr}," );
	$clr-selector: "#{$clr-selector}.btn-#{$clr}";

	#{$clr-selector} {

		background-color: $bg;
		color: $text;

		&:hover,
		&:focus {
			@if $bg-hover != null {
				background-color: $bg-hover;
			} @else {
				background-color: darken($bg, 10%);
			}
		}

		&:active,
		&.active {
			@if $bg-hover != null {
				background-color: darken($bg-hover, 5%);
			} @else {
				background-color: darken($bg, 15%);
			}
		}
	}

	// Transparent Buttons

	$trans-selector: str-replace( $clr-selector, "#{$clr}", "#{$clr}.btn-trans" );

	#{$trans-selector} {

		background-color: transparent;
		border-color: $bg;

		@if $clr == white {
			color: $bg;
		} @elseif $text != #fff or $clr == info or $clr == success or $clr == warning or $clr == danger {
			color: $text;
		} @else {
			color: $bg;
		}

		&:hover,
		&:focus {
			background-color: $bg;
			color: $text;
		}
	}
}
