// --------------------------------------------------
// Mixins: Media
// --------------------------------------------------

//
// Size a thumbnail link icon.
//

@mixin fs-thumb-link-size($icon-size, $w, $h) {
	font-size: $icon-size;
	line-height: $h;
	margin: ($h / -2) 0 0 ($w / -2);
	width: $w;
	height: $h;
}
