////
/// Mixins: Media
///
/// @access public
/// @group fs-mixins
/// @author Jason Bobich
////

///
/// Inner styling for sizing a thumbnail link icon.
///
/// @since 1.0.0
///
/// @param {Number} $icon-size - Size of icon in px.
/// @param {Number} $w - Width of icon container in px.
/// @param {Number} $h - Height of icon container in px.
///
@mixin fs-thumb-link-size($icon-size, $w, $h) {
  $width: fs-em($w, $icon-size);
  $height: fs-em($h, $icon-size);

  font-size: $icon-size;
  line-height: $height;
  margin: ($height / -2) 0 0 ($width / -2);
  padding: fs-em(($w - $icon-size) / 2, $icon-size);
  width: $width;
  height: $height;
}
