////
/// Mixins: Toggles
///
/// @access public
/// @group fs-mixins
/// @author Jason Bobich
////

///
/// Toggle content coloring.
///
/// @since 1.0.0
///
/// @param {String} $style - Style of scenario, `default` or `inverse`.
///
@mixin toggle-variant($style: 'default') {
  $border-color: $fs-toggle-border-color;
  $close-color: $fs-color-svg;
  $close-hover-color: $fs-color-svg-hover;

  @if ($style == 'inverse') {
    $border-color: $fs-toggle-border-inv-color;
    $close-color: $fs-color-svg-inv;
    $close-hover-color: $fs-color-svg-inv-hover;
  }

  .fs-toggle {
    border-color: $border-color;

    .toggle-title:after {
      @include fs-background-close($close-color);
    }
    .toggle-title:hover:after,
    .toggle-title:focus:after {
      @include fs-background-close($close-hover-color);
    }
  }
}
